<section class="hero thank-you">

  <div class="container">

    <div class="banner banner--hero">
      <h1 class="banner__title thank-you__title">Thank you for your message</h1>
      <p class="banner__text thank-you__text">
        It has been sent.
      </p>
      <p class="banner__text thank-you__text">
        We will contact you shortly.
      </p>
      <a class="banner__button link" href="https://nikolay-tymoshchuk.github.io/jazz-tpl/">Home
        <svg>
          <use href="./images/sprite.svg#right-arrow"></use>
        </svg>
      </a>
    </div>

  </div>
</section>