<section class="blog blog-section introduction">

    {% include 'blog/components/author.html' %}
    <div class="introduction__description">
        <p>
            Every AEC professional can relate to the situation when a client decides
            to update the structural plans and specs mid-project for one reason or
            another. This entails updating many blueprints and documentation, and
            usually comes with tight deadlines. BIM offers one solution to the
            problem. When it’s fully implemented, AEC professionals can update all the
            necessary models at once, instead of going through every single blueprint.
        </p>
        <p>
            However, in our work at Powerkh, we see many construction companies
            struggling to implement BIM, as the initial stages require a significant
            amount of effort, time, and resource investment. BIM outsourcing seems to
            be the answer, but many stakeholders fear a “loss of control”, worry about
            miscommunication issues, or simply fear choosing the wrong contractor.
        </p>
        <p>
            In reality, outsourcing BIM tasks can be a good move. Outsourcing gives
            you instant access to skilled talent and enables you to engage in more
            complex projects, allowing your business to grow and succeed.
        </p>
        <p>
            But don’t just take our word for it. If you’re still on the fence about
            whether outsourcing could be for you, here’s a rundown of the advantages
            of BIM outsourcing and a realistic look at the risks of BIM outsourcing vs
            the in-house approach.
        </p>
    </div>

    <picture class="introduction__picture">

        <source srcset="./images/blog/introduction/out-in-lg.webp 1x, ./images/blog/introduction/out-in-lg@2x.webp 2x"
            media="(min-width: 375px)" type="image/webp" />
        <source srcset="./images/blog/introduction/out-in-lg.jpg 1x, ./images/blog/introduction/out-in-lg@2x.jpg 2x"
            media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="./images/blog/introduction/out-in-sm.webp 1x, ./images/blog/introduction/out-in-sm@2x.webp 2x"
            media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/introduction/out-in-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image introduction__image" src="./images/blog/introduction/out-in-sm.jpg"
            alt="choise between BIM outsourcing vs in-House" loading="lazy" width="280" height="157" />
    </picture>

</section>