<section class="blog blog-section introduction benefits-intro">
    {% include 'blog/components/author.html' %}

    <div class="introduction__description">
        <p>
            The traditional approach to construction is rarely the best one. Projects
            depending on shop drawings, flat schemes, and tracing paper often do not go
            according to plan.
        </p>
        <p>
            Technological advances in modeling can offer many advantages for the
            industry. For this reason, many US construction companies are using BIM to
            save costs on their projects.
        </p>
        <p>
            Do you want to learn how BIM helps in the construction industry&quest; Keep
            reading to find out! While we&apos;re at it, we&apos;ll go through the potential
            disadvantages of BIM modeling and see how you can avoid them with the right
            company.
        </p>
    </div>

</section>