<section class="blog blog-section benefits" id="benefits-services2">
  <h2 class="blog__title">Benefits of BIM</h2>

  <p>
    BIM technology provides advantages for architects, designers, engineers, and
    project managers. How significant are they? Let’s see.
  </p>
  <ul class="blog__list">
    <li class="blog__item">
      <h3 class="blog__title blog__text-start">
        01 Accurate plans and shop drawings
      </h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-1-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-1-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-1-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-1-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-1-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-1-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-1-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-1-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        Design oversights and clashes can halt your project. Most 2D plans and
        shop drawings are inaccurate, but often, builders don’t realize the
        problem until the construction phase.
      </p>
      <p>
        BIM tools allow planners to create accurate interactive 3D databases
        with information about every object. You can even visualize how the
        finished structure will look with different lighting. The best part —
        BIM software can help you plan the parameters for every detail in the
        building down to the smallest nail.
      </p>
    </li>
    <li class="blog__item">
      <h3 class="blog__title blog__text-start">02 Workflow optimization</h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-2-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-2-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-2-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-2-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-2-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-2-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-2-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-2-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        Many construction processes are redundant and time-consuming. Wouldn’t
        it be better to automate them instead of performing them manually?
      </p>
      <p>
        BIM service providers can identify gaps in your workflow and optimize
        processes with proven methodologies, templates, and scripts. Thanks to
        automation, you will reduce design errors and speed up the project.
      </p>
    </li>
    <li class="blog__item">
      <h3 class="blog__title blog__text-start">03 Fast turnaround time</h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-3-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-3-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-3-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-3-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-3-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-3-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-3-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-3-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        You can improve turnaround time with the right BIM applications in
        construction. One of these applications is prefabricated (modular)
        construction technology.
      </p>
      <p>
        BIM stands at the core of prefabricated construction. Modular software
        allows designers to build highly accurate 3D models for computer
        numerical control manufacturing. By pre-producing parts of the structure
        in factory-controlled environments, you will reduce on-site errors and
        system crashes that often result in expensive corrections.
      </p>
      <p>
        Professional designers can use BIM in construction to create parametric
        3D models. Parametric modeling allows them to change parameters for
        certain object groups without reworking the entire project design. As a
        result, you’ll be able to modify your project much faster.
      </p>
    </li>
    <li class="blog__item">
      {% include 'blog/components/modeling-services.html' %}
    </li>

    <li class="blog__item">
      <h3 class="blog__title blog__text-start">04 Lower costs</h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-4-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-4-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-4-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-4-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-4-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-4-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-4-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-4-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        No one can make a model that is 100% accurate right away. Every
        construction project will go through multiple evaluations and
        adjustments. Using BIM tools allows you to create highly accurate 3D
        models and reduce errors by automating most recurring tasks.
      </p>
      <p>
        Advanced BIM solutions can help you identify soft and hard clashes in
        your project at the early stages of the project’s life cycle. As a
        result, you will reduce reworks in design and construction. But how much
        can it reduce your costs?
      </p>
      <p>
        According to the
        <span class="blog__text-underline"
          >2018 Benefit-Cost Analysis of BIM in a Railway Site</span
        >, implementing BIM technology can result in a 1.3 benefit-cost ratio by
        eliminating potential reworks. In other words, your production can
        become about 30% more cost-effective.
      </p>
    </li>
    <li class="blog__list--bottom">
      <h3 class="blog__title blog__text-start">05 Precise estimates</h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-5-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-5-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-5-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-5-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-5-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-5-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-5-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-5-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        BIM modeling experts can refine your shop drawings, 3D models, and
        construction documentation to help you identify precise budget and time
        estimates. How exactly is BIM used in construction for creating
        estimates?
      </p>
      <p>
        BIM technology allows you to use easy-to-understand specifications for
        architectural, design, and structural elements. You’ll have a 3D library
        of objects, as well as complete documentation, including Bills of
        Materials and Material Takeoffs.
      </p>
      <p>
        What does that mean? In short, the right BIM service vendor will help
        you plan all expenses and tasks much more accurately than with regular
        shop drawings.
      </p>
    </li>
    <li class="blog__list--bottom">
      {% include 'blog/components/case-studies.html' %}
    </li>
    <li class="blog__item">
      <h3 class="blog__title blog__text-start">06 Effective data exchange</h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-6-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-6-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-6-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-6-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-6-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-6-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-6-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-6-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        Construction projects depend on communication. BIM software can
        effectively improve cooperation between stakeholders by reducing
        distractions such as emails and phone calls.
      </p>
      <p>
        The 2020 BIM for Improved Project Communication Networks research proves
        that interpersonal information exchange in BIM projects is easier and
        faster compared to regular construction projects.
      </p>
      <p>
        Instead of relying on countless messages, you and your partners will use
        a virtual board with easily trackable and manageable tasks with the
        ability to add notes. In addition, different teams will be able to work
        on your model simultaneously via a secure cloud platform.
      </p>
    </li>
    <li class="blog__item">
      <h3 class="blog__title blog__text-start">
        07 Safer construction process
      </h3>
      <picture>
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-7-lg.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-7-lg@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-7-lg.jpg    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-7-lg@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-7-sm.webp    1x,
            ./images/blog/benefits-of-bim-services/benefits/benef-7-sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/benefits-of-bim-services/benefits/benef-7-sm@2x.jpg
          "
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/benefits-of-bim-services/benefits/benef-7-sm.jpg"
          alt="team at work"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
      <p>
        Workplace health and safety is another crucial concern. According to the
        <span class="blog__text-underline">2020 Construction Statistics</span>,
        the construction industry has the most work-related physical illnesses
        across all sectors. Even worse,
        <span class="blog__text-underline">20% of all fatalities</span> in the
        US private sector in 2019 were in construction.
      </p>
      <p>
        The industry is overflowing with traditional injury-prevention
        strategies. These strategies, however, are most effective during the
        planning and pre-construction phases.
      </p>
      <p>
        BIM can help reduce the risk of accidents by using prefabrication. This
        technique moves most of the workload from the building site to a
        controlled environment, allowing you to make the process much safer.
      </p>
    </li>
  </ul>
</section>
