$main-font: 'Montserrat', sans-serif;
$secondary-font: 'PT Mono', monospace;

$main-color: #0e0e0e;
$secondary-color: #cdcdcd;
$accent-color: #eb5757;

$bg-color-white: #fff;
$bg-color-grey: #f5f5f5;
$bg-color-dark-grey: #c4c4c4;
$text-color-white: #fff;
