.sidebar {
  display: none;

  @include mq(desktop) {
    display: block;
    // padding-top: 38px;
  }

  .author {
    margin-bottom: 38px;
  }

  &__wrapper {
    position: sticky;
    top: 88px;
  }
}
