<footer class="footer">
  <div class="container">
    <div class="footer-cont">
      <div class="footer-leftside">
        <img class="logo footer-cont__logo" src="./assets/images/header/logo.svg" alt="Site logo" width="80"
          height="48" />
        <address class="address">
          <p class="footer-cont__address">
            Jazzrender UK <br />
            Swindon SN25 1XF<br />
            United Kingdom<br />
            <a href="tel:+4407490426678" class="link">T +44 (0)74 9042 6678</a>
          </p>
          <p class="footer-cont__address">
            Jazzrender UA<br />
            61037 Kharkiv<br />
            Ukraine <br />
            <a href="tel:+380971952109" class="link">T +380 97 195 2109</a>
          </p>
        </address>
      </div>

      <div class="footer-rightside">
        <a class="footer-cont__email" href="mailto:info@jazzrender.com">info@jazzrender.com</a>

        <div class="footer-links">
          <div class="footer-links__cont">
            <a class="footer-links__item" href="https://www.linkedin.com/company/jazzrender" aria-label="Linkedin icon"
              target="_blank" rel="nofollow noreferrer noopener">
              <svg class="footer-links__icon" width="15" height="16">
                <use href="./assets/images/footer/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
            <a class="footer-links__item" href="https://www.facebook.com/Jazzrender" aria-label="Facebook icon"
              target="_blank" rel="nofollow noreferrer noopener">
              <svg class="footer-links__icon" width="8" height="16">
                <use href="./assets/images/footer/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="footer-links__item" href="https://www.behance.net/jazzrender" aria-label="Behance icon"
              target="_blank" rel="nofollow noreferrer noopener">
              <svg class="footer-links__icon" width="21" height="13">
                <use href="./assets/images/footer/sprite.svg#icon-behance"></use>
              </svg>
            </a>
            <a class="footer-links__item" href="https://www.pinterest.com/jazz_render/_saved/"
              aria-label="Pinterest icon" target="_blank" rel="nofollow noreferrer noopener">
              <svg class="footer-links__icon" width="13" height="16">
                <use href="./assets/images/footer/sprite.svg#icon-pinterest"></use>
              </svg>
            </a>
            <a class="footer-links__item" href="https://www.instagram.com/jazz_render/" aria-label="Instagram icon"
              target="_blank" rel="nofollow noreferrer noopener">
              <svg class="footer-links__icon footer-links__icon-instagram" width="18" height="18">
                <use href="./assets/images/footer/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </div>
          <button class="footer-cont__scrollup" type="button" aria-label="Back to top">
            <svg class="footer-cont__scrollup-icon" width="13" height="16">
              <use href="./assets/images/footer/sprite.svg#icon-arrow_up"></use>
            </svg>
            <span>BACK TO TOP</span>
          </button>
        </div>
      </div>
    </div>

    <p class="footer-cont__copyright">
      Copyright &copy; Jazz Render
      <span id="current-year"></span>
    </p>
  </div>
</footer>