<header class="header" id="header">
  <div class="container header-cont">
    <div class="header-logocont">
      <a class="nav-link" href="#header">
        <img class="logo" src="./assets/images/header/logo.svg" alt="Site logo" width="80" height="48" />
      </a>
      <h1 class="header-logocont__title">3D Architectural Rendering Studio</h1>
    </div>
    <div class="nav-cont">
      <nav class="header-nav" id="nav">
        <a class="nav-link header-nav__item service-link" href="#services">Services</a>
        <a class="nav-link header-nav__item service-workflow" href="#workflow">Workflow</a>
        <a class="nav-link header-nav__item service-works" href="#works">Works</a>
        <a class="nav-link header-nav__item service-why" href="#why-choose">About</a>
        <a class="nav-link header-nav__item service-contact" href="#contact-sec">Contact</a>
        <a class="nav-link header-nav__item service-career" href="#career">Career</a>
      </nav>
      <button class="btn btn--accent header-nav__btn btn-modal">CONTACT US</button>
    </div>
    <button class="btn-burger" type="button" data-menu-btn aria-label="mobile menu button">
      <img class="btn-burger__img" src="./assets/images/header/burger.svg" alt="Burger menu" width="35" height="18" />
    </button>
  </div>
</header>