<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-content">
      <button class="btn-close" type="button" data-modal-close aria-label="Close modal button"></button>
      <p class="modal-title">HAVE ANY QUESTIONS?</p>
      <p class="modal-title">CONTACT US!</p>
      <form class="contact-form" id="contact-form" novalidate data-form>
        <div class="contact-form__group">
          <input class="contact-form__input" type="text" id="name" name="name" data-required="name" data-contact
            data-invalid-message="* Enter your name!" autocomplete="off" />
          <label for="name" class="contact-form__label"> Your Name </label>
        </div>
        <div class="contact-form__group">
          <input class="contact-form__input" type="tel" name="phone" id="phone" data-contact
            data-invalid-message="* Enter your correct phone number!" autocomplete="off" />
          <label for="phone" class="contact-form__label"> Telephone </label>
        </div>
        <div class="contact-form__group">
          <input class="contact-form__input" type="email" name="email" id="email" data-required="email" data-contact
            data-invalid-message="* Enter your correct email!" />
          <label for="email" class="contact-form__label"> E-mail </label>
        </div>
        <div class="contact-form__group">
          <label for="comment" class=""> Your comment </label>
          <textarea id="comment" class="contact-form__comment" rows="2" name="comments" data-contact></textarea>
        </div>
        <button class="btn btn--accent contact-form__button" form="contact-form" type="submit">
          SEND
        </button>
      </form>
    </div>
  </div>
</div>