<!-- <div class="backdrop is-hidden" data-panorama-modal>
  <div class="panorama__modal">
    <button
      class="panorama__btn-close"
      type="button"
      data-panorama-modal-close
      aria-label="Close modal button"
    >
      <svg class="panorama__close-icon" width="30" height="30">
        <use href="./assets/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="panorama__wrapper">
      <div class="panorama__image-container"></div>
    </div>
  </div>
</div> -->