<section class="about-us" id="info">
  <div class="container">

    <div class="about-us__text-wrapper">
      <h1 class="about-us__title">About</h1>
      <p class="about-us__text">Powerkh is a digital design consultancy which offers BIM, computational design,
        structural detailing and digital fabrication expertise. We work with project owners, architects,
        contractors, developers and engineers to improve the way buildings are designed, built, and operated
        through the use of digital design tools
      </p>
    </div>

    <ul class="about-us__list">
      <li class="about-us__item">
        <p class="about-us__indexes counter" data-targetnum="2016" data-speed="1000">2016</p>
        <p class="about-us__desc">year of establishment</p>
      </li>
      <li class="about-us__item">
        <p class="about-us__indexes">
          <span class="counter" data-targetnum="200" data-speed="1200">200</span><span>&plus;</span>
        </p>
        <p class="about-us__desc">successful state-of-the-art BIM&sol;VDC projects</p>
      </li>
      <li class="about-us__item">
        <p class="about-us__indexes counter" data-targetnum="11" data-speed="1500">11</p>
        <p class="about-us__desc">countries that we operate In</p>
      </li>
      <li class="about-us__item">
        <p class="about-us__indexes counter" data-targetnum="91" data-speed="1400">91</p>
        <p class="about-us__desc">our NPS</p>
      </li>
    </ul>

    <div class="video__wrapper" id="video">
      <video class="video__content" id="js-player" width="1120" preload="auto"
        poster="./images/video-poster/video-poster.jpeg">
        <source src="./images/powerkh.mp4" type="video/mp4">
      </video>

      <span id="play-btn" class="video__btn-visible">Play button</span>
      <span id="stop-btn" class="video__btn-hidden">Stop video</span>
    </div>

  </div>
</section>