<section class="team">
  <div class="container">
    <div class="team__wrapper">
      <ul class="team__list">
        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/rapina/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/KRP-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/KRP-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/KRP-sm.webp"
                    media="(mmax-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/KRP-sm.jpg"
                    loading="lazy"
                    alt="Photo of Kostya Rapina"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Kostya Rapina</h2>
          <p class="team__position">CEO &amp; Co-founder</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/yevhen-surzhan/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/ESU-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/ESU-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/ESU-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/ESU-sm.jpg"
                    loading="lazy"
                    alt="Photo of Yevhen Surzhan"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Yevhen Surzhan</h2>
          <p class="team__position">COO &amp; Co-founder</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/tetiana-rapina/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/TRP-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/TRP-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/TRP-sm.webp"
                    media="(mam-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/TRP-sm.jpg"
                    loading="lazy"
                    alt="Photo of Tanya Rapina"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Tetiana Rapina</h2>
          <p class="team__position">CDO</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/sergey-trilevskiy-a821a6176/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/STR-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/STR-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/STR-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/STR-sm.jpg"
                    loading="lazy"
                    alt="Photo of Sergey Trilevskiy"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Sergey Trilevskiy</h2>
          <p class="team__position">Lead Structural Engineer</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/ihor-bobrus-6a2050114/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/BIO-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/BIO-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/BIO-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/BIO-sm.jpg"
                    loading="lazy"
                    alt="Photo of Ihor Bobrus"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Ihor Bobrus</h2>
          <p class="team__position">BIM &sol; VDC Lead Engineer</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/dmitriy-mihalevskiy-1b8a9920a/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/DMH-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/DMH-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/DMH-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/DMH-sm.jpg"
                    loading="lazy"
                    alt="Photo of Dmitriy Mihalevskiy"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Dmitriy Mihalevskiy</h2>
          <p class="team__position">Technical Lead</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/artur-khasanov-arh/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/ARH-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/ARH-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/ARH-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/ARH-sm.jpg"
                    loading="lazy"
                    alt="Photo of Artur Khasanov"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Artur Khasanov</h2>
          <p class="team__position">Technical Lead</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/sergey-aleksandrov-sal/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/SAL-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/SAL-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/SAL-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/SAL-sm.jpg"
                    loading="lazy"
                    alt="Photo of Sergey Aleksandrov"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Sergey Aleksandrov</h2>
          <p class="team__position">Technical Lead</p>
        </li>

        <li class="team__item">
          <div class="img-wrapper">
            <a
              href="https://www.linkedin.com/in/dmitriy-varava-643930193/"
              class="team__social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <figure class="team__img img-wrapper__overlay">
                <picture>
                  <source
                    srcset="./images/team/DVA-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/team/DVA-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/team/DVA-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/team/DVA-sm.jpg"
                    loading="lazy"
                    alt="Photo of Dmitriy Varava"
                  />
                </picture>
              </figure>
              <svg class="team__social-icon" width="39" height="41">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </div>

          <h2 class="team__name">Dmitriy Varava</h2>
          <p class="team__position">BIM &sol; VDC Engineer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
