// .scroll-hidden {
//   overflow: hidden;
// }

#mainSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background-color: var(--white-bg);
  overflow: auto;
  z-index: 1002;
}

.loader-wrapper {
  // position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../images/header/logo.svg');

    z-index: 1050;
    @include mq(tablet) {
      top: 37%;
      transform: translate(-50%, -37%);
      // width: 150px;
      // height: 110px;
    }
    @media (min-width: 1024px) {
      top: 35%;
      transform: translate(-50%, -35%);
    }
    @include mq(fullhd) {
      top: 25%;
      transform: translate(-50%, -25%);
      width: 240px;
      height: 150px;
    }
  }
}

.loaded .loader-wrapper {
  display: none;
}

// .loaded #mainSVG {
//   display: none;
// }
