.scroll-hidden {
  overflow: hidden;
}

.backdrop {
  visibility: visible;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1200;
  overflow: auto;
  transition: opacity 0.2s;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 631px;
  background: var(--white-bg);
  transition: transform 0.3s linear 0.2s;
  .is-hidden & {
    transform: translate(-50%, 100%) scale(0);
  }
}

.btn-close {
  position: absolute;
  right: 92px;
  top: 88px;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 34px;
  border: none;
  border-radius: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/icon-close.svg');
  background-color: #fff;
  outline: none;
  cursor: pointer;

  &:focus {
    border: 1.5px solid rgba(255, 255, 255, 0.75);
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    width: 40px;
    height: 34px;
    right: 49px;
  }
}
