//=======================
.panorama {
  &__wrapper {
    overflow-x: hidden;
    position: relative;
    @include mq(desktop) {
      max-width: 65vw;
    }
    @include mq(fullhd) {
      max-width: 60vw;
    }
  }
  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    max-width: 80%;
    background: var(--white-bg);
    transition: transform 0.3s linear 0.2s;
    .is-hidden & {
      transform: translate(-50%, 100%) scale(0);
    }
    canvas {
      width: 100% !important;
    }
  }
  &__btn-close {
    position: absolute;
    left: 100%;
    bottom: calc(100% - 24px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s linear;

    &:focus {
      transform: scale(1.1);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  &__image-container {
    height: 30vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;

    @include mq(tablet) {
      height: 72vh;
    }
  }
}
