<section class="blog blog-section" id="construction-vdc2">
  <h2 class="blog__title">How to write a construction RFI</h2>
  <p>
    You want your RFIs to be answered quickly and provide valuable input. To
    ensure this outcome, they must be structured in a certain way. Here is an
    example of RFI in construction:
  </p>

  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">A clear description of a problem.</span>
      Concisely describe the issue at hand, and keep it short, with one issue
      per RFI
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">A suggested solution</span> stemming from
      the expertise available.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Some context, </span> to leave no chance
      for uncertainty.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Visuals</span> describing the challenge,
      if applicable. Photos, designs, or any other information that can help
      visualize the issue.
    </li>
  </ul>
  <p>
    Following this pattern, the party issuing an RFI maximizes the chances of
    receiving a timely, concise, and on-point response.
  </p>

  <h3 class="blog__item-title">RFI process handling best practices</h3>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Project name.</span>
      A contractor company rarely works on a single project at a time. Stating
      the project name helps to quickly understand what the RFI relates to.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Creation date.</span>
      This helps keep the timeline consistent and keep track of when this or
      that issue arose.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The RFI number.</span>
      These can be chronological or formed according to other rules, and they
      just have to be unique to help find the data with ease later, should the
      need arise.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The recipient’s details.</span>
      An RFI must contain a list of people who should receive it. Not emails,
      but full names and positions.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The subject name.</span>
      Clearly state the intent of the RFI. “Please clarify” is not good,
      “Questions on plumbing” is better, “Issue with fittings on drainage” is
      best.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">RFI details.</span>
      The reason for submitting this RFI and the details you need to obtain from
      the response.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Response date.</span>
      As mentioned above, usually a week after the issuing date, but it can be
      sooner if there is an emergency.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">A reference to documentation.</span>
      If an issue described in this RFI relates to some other document, state
      its reference number and format to ease locating the relevant details.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Issuer’s name.</span>
      This will help the other parties identify who to reply to.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Company details.</span>
      This will also help narrow down the search among many RFIs.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Response date.</span>
      Note this when the RFI issuer has received a response.
    </li>
  </ul>
  <p>
    As these details are the same in every construction RFI form, preparing an
    RFI template to use in your projects makes perfect sense.
  </p>
</section>
