<section class="blog blog-section" id="construction-vdc4">
  <h2 class="blog__title">How to respond to construction RFIs efficiently</h2>

  <p>
    It’s quite easy to get overwhelmed with hundreds of RFIs waiting for a
    response. Thus, it’s better to follow some simple tips to ensure you handle
    RFIs correctly:
  </p>

  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Log the RFIs.</span>
      RFI request added, changes pending.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Analyze the issues diligently.</span> It
      is a far too common situation when an RFI needs to be resubmitted by the
      contractor, as the initial response was not detailed enough. Take your
      time and ensure you understand the construction RFI’s needs in full the
      first time.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong"
        >Consult with other parties if needed.</span
      >
      It is better to spend some time discussing the issue with the architects
      or engineers if it is outside the scope of your duties.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Answer in detail.</span> Once again, the
      more time you spend forming an on-point answer, the lower the chance that
      this RFI is resubmitted again, and the project suffers losses. Respond to
      the issue fully, and the RFIs will be solved for good.
    </li>
  </ul>
  <p>
    These four steps might seem simple and obvious, yet it takes quite some
    effort to implement them and make your team follow them systematically.
  </p>
</section>
