<section class="blog blog-section introduction">
  {% include 'blog/components/author.html' %}
  <div class="introduction__description">
    <p>
      As an Architecture, Engineering, and Construction (AEC) specialist, you
      are likely to be familiar with using RFI in construction. Still, not many
      architects or contractors actually know the real costs of the suboptimal
      construction RFI handling workflow. Nearly $860,000 out of every $1million
      spent on long-term projects is allocated to handling RFI documentation,
      according to the findings of a
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://www.cmaanet.org/sites/default/files/resource/Impact%20%26%20Control%20of%20RFIs%20on%20Construction%20Projects.pdf"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Navigant Construction forum survey</a
      >
      that involved nearly 1,400 projects.
    </p>
    <p>
      Try to wrap your head around the fact that nearly 86% of expenses go not
      into construction but are spent on the time wasted while multiple
      stakeholders ping-pong inefficient RFIs back and forth. This is a colossal
      waste of customer’s resources — but it can be made efficient with the
      proper project management. Read on to learn all about what RFI is, what it
      is used for, how to write an RFI construction document, and how to
      properly respond to it.
    </p>
  </div>
</section>
