<section class="blog blog-section" id="construction-vdc3">
  <h2 class="blog__title">RFI template example</h2>
  <picture>
    <source
      srcset="
        ./images/blog/construction-rfi/rfi-template.webp    1x,
        ./images/blog/construction-rfi/rfi-template@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/construction-rfi/rfi-template.jpg    1x,
        ./images/blog/construction-rfi/rfi-template@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/construction-rfi/rfi-template-sm.webp 1x,
        ./images/blog/construction-rfi/rfi-template-md.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />
    <source
      srcset="./images/blog/construction-rfi/rfi-template-md.jpg"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/construction-rfi/rfi-template-sm.jpg"
      alt="RFI template example"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    Feel free to use this fillable
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://docs.google.com/document/d/1kj7FrTKN0zcJosgZ6OdNn-oy35-aRsIiM6eAF8OH43Y/edit"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >RFI template</a
    >
    (a Google doc without editing rights, so please make a copy). Save it in a
    PDF format if you need it, so it’s easier to email it if your company does
    not yet have specialized RFI management software in place. It also makes
    sense to have a Google spreadsheet (or an Excel file) for an
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://docs.google.com/spreadsheets/d/1e3Il0fUksQ8_UP17F-coQBnCKoby2rIHRvE8arX2jds/edit?usp=sharing"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >RFI handling log</a
    >
    to ensure consistency and traceability for the efficient handling of every
    RFI. The link above showcases the stages of every RFI request:
  </p>

  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Open.</span>
      RFI request added, changes pending.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Closed.</span> RFI request closed as
      changes were done.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Returned.</span> RFI request returned to
      the issuer for additional clarification
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Not valid.</span> The RFI request lost its
      validity and was closed.
    </li>
  </ul>
  <p>
    This can also be done using any project management system like Procore,
    Bim360, Trello or Asana, Jira or Youtrack — wherever you can assign tasks to
    a certain person, attach files to them and track the status of every task.
  </p>
  <p>
    <span class="blog__text-strong">Keep track of RFI implementation.</span>
    Otherwise, there is a risk of missing critical updates or the process
    getting clogged by dozens and hundreds of unresolved requests. As handling
    RFI documentation requires the attention of all the people involved, the
    progress is best tracked during BIM coordination meetings.
  </p>

  <h3 class="blog__item-title">RFI process handling best practices</h3>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Project name.</span>
      A contractor company rarely works on a single project at a time. Stating
      the project name helps to quickly understand what the RFI relates to.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Creation date.</span>
      This helps keep the timeline consistent and keep track of when this or
      that issue arose.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The RFI number.</span>
      These can be chronological or formed according to other rules, and they
      just have to be unique to help find the data with ease later, should the
      need arise.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The recipient’s details.</span>
      An RFI must contain a list of people who should receive it. Not emails,
      but full names and positions.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">The subject name.</span>
      Clearly state the intent of the RFI. “Please clarify” is not good,
      “Questions on plumbing” is better, “Issue with fittings on drainage” is
      best.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">RFI details.</span>
      The reason for submitting this RFI and the details you need to obtain from
      the response.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Response date.</span>
      As mentioned above, usually a week after the issuing date, but it can be
      sooner if there is an emergency.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">A reference to documentation.</span>
      If an issue described in this RFI relates to some other document, state
      its reference number and format to ease locating the relevant details.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Issuer’s name.</span>
      This will help the other parties identify who to reply to.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Company details.</span>
      This will also help narrow down the search among many RFIs.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Response date.</span>
      Note this when the RFI issuer has received a response.
    </li>
  </ul>
  <p>
    As these details are the same in every construction RFI form, preparing an
    RFI template to use in your projects makes perfect sense.
  </p>

  <h3 class="blog__item-title">
    BIM coordination meetings — a great tool for keeping your work flowing
  </h3>
  <picture>
    <source
      srcset="
        ./images/blog/construction-rfi/team.webp    1x,
        ./images/blog/construction-rfi/team@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/construction-rfi/team.jpg    1x,
        ./images/blog/construction-rfi/team@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/construction-rfi/team-sm.webp 1x,
        ./images/blog/construction-rfi/team-md.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />
    <source
      srcset="./images/blog/construction-rfi/team-md.jpg"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/construction-rfi/team-sm.jpg"
      alt="RFI template example"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    Such meetings should be held once a week to keep track of the RFI resolution
    process. When people have a steady schedule of meetings, know the limits of
    their involvement, and see actual value from the process, things are getting
    done much more smoothly. There is an excellent rundown of
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://bimtrack.co/blog/blog-posts/50-tips-for-better-bim-coordination-meetings-the-definitive-list"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >50 tips for making BIM coordination meetings work</a
    >, and we provide a brief overview below.
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Start with coordination.</span>
      Assign a suitable time for all the participants, let them introduce
      themselves, devote some time to showing how the software works and lay the
      ground rules for the process from the start.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong"
        >Good preparation is half the success.</span
      >
      Assign issues automatically to each team and notify everyone of the
      upcoming clash detection date. Sort the issues by date and resolve the
      most urgent first. Create a coordination report and send it in advance, so
      people arrive ready and meetings get more done in less time.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Get executive buy-in.</span>
      Clearly communicate the value of BIM coordination to the owner. Their
      weight and influence will help get the rest of the stakeholders on board.
      Clearly communicate timing, boundaries, and expectations.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Follow some best practices.</span>
      Get only the people needed at that project stage to attend the meeting.
      The more of them have on-site experience, the better. Always keep track of
      interim deadlines and congratulate each team on every achievement, big or
      small. People tend to dedicate more effort when they get gratification,
      not only address issues during BIM coordination meetings.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Prioritize ruthlessly.</span>
      Only the issues that demand the cooperation of several teams should be on
      the agenda. If a challenge, no matter how big, entirely falls under the
      responsibility of a single team — delegate it to them and hold them
      accountable for its timely delivery. Only if major roadblocks appear that
      need involvement from other teams should such cases be added to the agenda
      — or people will soon get bored to death listening to matters that do not
      concern them in any way.
    </li>
  </ul>
  <p>
    There is no carved-in-stone formula for a BIM coordination meeting, so you
    should constantly analyze what works and what does not — and adjust the
    process accordingly. Only this way you’ll be able to handle construction
    RFIs efficiently.
  </p>
</section>
