<section class="blog blog-section" id="construction-vdc1">
  <h2 class="blog__title">What is RFI in construction?</h2>
  <p>
    As a rule of thumb, a request for information in construction is a document
    meant to resolve any ambiguities, fill in the gaps, or clarify any concerns
    that arise during the construction project. Subcontractors usually issue
    these RFIs to general contractors or clients to solve a particular issue.
    The term can also apply to initial inquiries made by the customer before the
    tender bidding stage to gather some preliminary information on the costs and
    methods of project delivery by different contractors.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/construction-rfi/building.webp    1x,
        ./images/blog/construction-rfi/building@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/construction-rfi/building.jpg    1x,
        ./images/blog/construction-rfi/building@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/construction-rfi/building-sm.webp 1x,
        ./images/blog/construction-rfi/building-md.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />
    <source
      srcset="./images/blog/construction-rfi/building-md.jpg"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/construction-rfi/building-sm.jpg"
      alt="team at work"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <h3 class="blog__item-title">What is it used for?</h3>
  <p>
    No designs, construction plans, as-built documentation, or blueprints can
    predict all the issues that may occur throughout a lengthy construction
    project. Some materials or equipment might have to be replaced, some system
    configurations might need to be updated, and there are plenty of other
    issues that might arise. To avoid costly reworks further down the track,
    each case should be appropriately highlighted and processed according to a
    stable workflow.
  </p>
  <p>
    The most common example of RFI in construction takes the form of a request
    from a subcontractor to a general contractor to provide additional details
    in situations such as:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Design clarification.</span> Many changes
      can occur during the project. Should any part of the design be unclear or
      contain conflicts with the actual structure, an RFI should be filed.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Substitution of materials.</span>
      Sometimes the originally intended materials become unexpectedly
      unavailable, unaffordable, or no longer suitable for the project. It means
      that it's time to discuss an appropriate replacement.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Construction issues resolution.</span> For
      various reasons, the planned construction sequence can change, and
      multiple issues might arise as a result. An RFI helps ensure these changes
      don’t derail the project.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Contract terms clarificatio.</span> No
      contract can predict all eventualities. RFI helps sort out the cases when
      the project budget or timeline must be adjusted.
    </li>
  </ul>
  <p>
    As you can see, items like construction RFI form a valuable part of overall
    project documentation and should be handled attentively to ensure smooth
    project execution.
  </p>
  <h3 class="blog__item-title">Why use construction RFI technology</h3>
  <p>
    In many cases, unresolved ambiguities or disputes during the planning or
    design stage result in huge expenses on reworks in the future. Maintaining a
    healthy and transparent RFI workflow helps keep the discussion structured,
    and the issues addressed promptly. Time is of the essence in construction,
    so an
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="http://www.constructionexec.com/article/reducing-the-cost-and-time-impact-of-rfis"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >average RFI is answered in about a week</a
    >.
  </p>
  <p>
    However, sometimes an RFI cannot be answered by the contractor and is
    forwarded to the architect, designers, or the customer’s stakeholders. This
    results in lots of ping-pong discussions between multiple parties. Using
    specialized technology to digitally issue and respond to RFIs helps keep all
    of these discussions traceable and the whole process predictable. Meanwhile,
    some years ago, more than
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.constructionjunkie.com/blog/2015/9/7/the-cost-of-rfis-and-best-practices-for-construction-professionals"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >20% of construction RFI cases remained unanswered)</a
    >.
  </p>
  <p>This is what an approximate RFI process looks like:</p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      When a subcontractor encounters an issue, they write an RFI and submit it
      to a contractor to clarify.
    </li>
    <li class="blog__item-arrow">
      If possible, a general contractor tries to provide a precise response to
      the challenge described in the RFI.
    </li>
    <li class="blog__item-arrow">
      If additional information is required, the RFI is forwarded to the
      appropriate project participants — designers, architects, engineers, the
      customer’s stakeholders, etc. If the request needs additional
      clarification, the RFI can be returned to the subcontractor for more
      detail.
    </li>
    <li class="blog__item-arrow">
      If the request needs additional clarification, the RFI can be returned to
      the subcontractor for more detail.
    </li>
    <li class="blog__item-arrow">
      As soon as the RFI receives a clear response from the appropriate person,
      it is sent back to the subcontractor.
    </li>
    <li class="blog__item-arrow">
      If the response provides all the details needed, the work can continue. If
      not — rinse, repeat.
    </li>
  </ul>
  <p>
    Naturally, while a contractor awaits an RFI response and puts the job on
    hold, the customer loses money. Therefore, having a well-structured RFI
    process helps ensure all requests and inquiries are seen, heard, and
    addressed to ensure the project remains on track. This brings us to the next
    point — how do you ensure the RFI process works well?
  </p>
</section>
