<section class="blog-section contents">
  <div class="contents__wrapper">
    <h2 class="blog__title contents__title">Contents</h2>
    <ul class="contents__list">
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#software1"
          >What Is BIM Software?</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#software2"
          >Which BIM Software to Choose</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#software3"
          >Best BIM Tools in 2021</a
        >
      </li>
      <li class="contents__item">
        <ul class="contents__list">
          <li class="contents__item blog__item-arrow">
            <a class="contents__link navigation__list-link" href="#software5"
              >Revit</a
            >
          </li>
          <li class="contents__item blog__item-arrow">
            <a class="contents__link navigation__list-link" href="#software6"
              >Archicad</a
            >
          </li>
          <li class="contents__item blog__item-arrow">
            <a class="contents__link navigation__list-link" href="#software7"
              >VectorWorks</a
            >
          </li>
          <li class="contents__item blog__item-arrow">
            <a class="contents__link navigation__list-link" href="#software8"
              >Navisworks</a
            >
          </li>
        </ul>
      </li>
      <li class="contents__item">
        <a href="#software9" class="contents__link navigation__list-link"
          >Conclusion</a
        >
      </li>
    </ul>
  </div>
</section>
