<section class="feedback">
  <div class="container">
    <div class="feedback__inner">

      <div class="feedback__form-wrapper">

        <ul class="info__list">
          <li class="info__item">
            <p class="info__phone info__icon icon--phone">
              <a href="tel:+380971952109" class="link">+380971952109</a> 
              <br>
              <a href="tel:+380989764637" class="link">+380989764637</a> 
              
            </p>

          </li>
          <li class="info__item">
            <p class="info__location info__icon icon--location">Kharkiv, Moskovsky AVE</p>
          </li>
          <li class="info__item">
            <a href="mailto:krp@powerkh.com" class="link info__mail info__icon icon--mail">krp@powerkh.com</a>
          </li>
          <li class="info__item">

            <p class="info__time info__icon icon--time">Open hours &lpar;UTC+3&rpar;
              <br>
              MON-FRI: 9AM-7PM
              <br>
              SAT: 10AM-5PM
            </p>
          </li>
        </ul>
      </div>

      <div class="feedback__social-wrapper">
        <ul class="footer__social-list">
          <li class="footer__social-list-item">
            <a href="https://www.instagram.com/powerkh_com/" class="footer__social-link" target="_blank"
              rel="noopener noreferrer" aria-label="Link to Instagram">
              <svg class="footer__social-icon" width="32" height="32">
                <use href="./images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-list-item">
            <a href="https://www.facebook.com/Powerkh-100153471390616/" class="footer__social-link" target="_blank"
              rel="noopener noreferrer" aria-label="Link to Facebook">
              <svg class="footer__social-icon" width="30" height="30">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-list-item">
            <a href="https://www.linkedin.com/company/powerkh/about/" class="footer__social-link" target="_blank"
              rel="noopener noreferrer" aria-label="Link to Linkedin">
              <svg class="footer__social-icon" width="25" height="25">
                <use href="./images/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>

        <p class="feedback__text">Powerkh is a digital design consultancy which offers BIM, computational design,
          structural detailing and digital fabrication expertise. We work with project owners, architects, contractors,
          developers and engineers to improve the way buildings are designed, built, and operated through the use of
          digital design tools "Powerkh is a digital design company.
        </p>
      </div>
    </div>

  </div>
</section>