<section class="case">
  <div class="container">
    <a href="./case-studies.html" class="case__headline">
      <svg class="case__headline-icon">
        <use href="./images/sprite.svg#logo-part"></use></svg
      >/Case Studies
    </a>

    <h1 class="case__title">Suspended ceiling design automation</h1>

    <div class="challenge__wrapper">
      <div class="challenge__content">
        <h2 class="challenge__title">Client</h2>
        <p class="challenge__desc">
          Our client is one of the country’s top builders of high-end tailored
          homes from New York, USA
        </p>

        <h2 class="challenge__title">Challenge</h2>
        <p class="challenge__desc">
          The design process had a series of challenges. One of them was to
          design a drop ceiling with deck-suspended hangers. It takes quite a
          lot of time and effort to design it according to structural
          requirements, model it correctly, and coordinate it with other
          building elements. A drop ceiling is a system that includes many
          elements dependent on each other. Even the smallest changes require
          updating the whole system. As a result, the delivery time of the
          ready-to-use design goes up. On top of that, it took another 5-6 days
          for the framing hangers manufacturer to come up with design drawings
          needed for the Revit model. In the end, every update caused at least a
          one-week delay.
        </p>
      </div>

      <div class="challenge-img challenge-img--ceiling">
        <div id="js-slider">
          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="challenge-img__image solution__image"
                  href="./images/cases/suspended-ceiling-case/c1-lg.webp"
                  data-size="2200x1300"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/suspended-ceiling-case/c1-md.jpg"
                    loading="lazy"
                    alt="Suspended ceiling design automation example"
                  />
                </a>
              </figure>
            </div>
          </div>

          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="challenge-img__image solution__image"
                  href="./images/cases/suspended-ceiling-case/c2-lg.webp"
                  data-size="2200x1300"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/suspended-ceiling-case/c2-md.jpg"
                    loading="lazy"
                    alt="Suspended ceiling design automation example"
                  />
                </a>
              </figure>
            </div>
          </div>

          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="challenge-img__image solution__image"
                  href="./images/cases/suspended-ceiling-case/c3-lg.webp"
                  data-size="2200x1300"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/suspended-ceiling-case/c3-md.jpg"
                    loading="lazy"
                    alt="Suspended ceiling design automation example"
                  />
                </a>
              </figure>
            </div>
          </div>

          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="challenge-img__image solution__image"
                  href="./images/cases/suspended-ceiling-case/c4-lg.webp"
                  data-size="2200x1300"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/suspended-ceiling-case/c4-md.jpg"
                    loading="lazy"
                    alt="Suspended ceiling design automation example"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
