<section class="conclusion">
  <div class="container">
    <h2 class="conclusion__title">Impact on business</h2>
    <div class="conclusion__content">

      <p class="conclusion__text">By implementing the set of Dynamo scripts to the drop ceiling design process, 
        we cut down the time needed to design the ceiling for one room from several hours to several minutes. 
        We also introduced a hangers selection algorithm that removed the manufacturer from the design process 
        and allowed the client to get the hangers design in less than a minute. Better coordination with MEP 
        systems and structural elements improved the quality of design. Finally, smart design tools helped 
        eliminate all potential errors at the earliest design stage.
      </p>

      <div class="progress">
        <div class="progress__numbers">
          <div class="progress__index"><span data-target="90">90</span><span>&percnt;</span></div>
          <div class="progress__index"><span data-target="5">5</span><span>x</span></div>
          <div class="progress__index"><span data-target="10">10</span><span>x</span></div>
        </div>

        <div class="progress__desk">
          <p class="progress__text">of design errors were fixed</p>
          <p class="progress__text">increase in design speed</p>
          <p class="progress__text">cheaper design due to automation and lower labor costs</p>
        </div>
      </div>

    </div>
  </div>
</section>