<section class="blog-section contents">
  <div class="contents__wrapper">
    <h2 class="blog__title contents__title">Contents</h2>
    <ul class="contents__list">
      <li class="contents__item">
        <a
          href="#introduction-vdc1"
          class="contents__link navigation__list-link"
          >What is VDC&#63;</a
        >
      </li>
      <li class="contents__item">
        <a
          href="#introduction-vdc2"
          class="contents__link navigation__list-link"
          >What is the difference between BIM and VDC&#63;</a
        >
      </li>
      <li class="contents__item">
        <a
          href="#introduction-vdc3"
          class="contents__link navigation__list-link"
          >How are AEC companies using virtual design and construction&#63;</a
        >
      </li>
      <li class="contents__item">
        <a
          href="#introduction-vdc4"
          class="contents__link navigation__list-link"
          >The benefits of VDC and why you need to implement it.</a
        >
      </li>
      <li class="contents__item">
        <a
          href="#introduction-vdc5"
          class="contents__link navigation__list-link"
          >A brief summary.</a
        >
      </li>
    </ul>
  </div>
</section>
