<section class="blog blog-section difference" id="introduction-vdc2">
  <h2 class="blog__title">What is the difference between BIM and VDC&#63;</h2>
  <picture>
    <source srcset="
        ./images/blog/introduction-to-virtual-design/difference/difference-lg.webp    1x,
        ./images/blog/introduction-to-virtual-design/difference/difference-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
    <source srcset="
        ./images/blog/introduction-to-virtual-design/difference/difference-lg.jpg    1x,
        ./images/blog/introduction-to-virtual-design/difference/difference-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

    <source srcset="
        ./images/blog/introduction-to-virtual-design/difference/difference-sm.webp    1x,
        ./images/blog/introduction-to-virtual-design/difference/difference-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
    <source srcset="
        ./images/blog/introduction-to-virtual-design/difference/difference-sm@2x.jpg
      " media="(max-width: 374px)" type="image/jpeg" />

    <img class="blog__image" src="./images/blog/introduction-to-virtual-design/difference/difference-sm.jpg"
      alt="technical measurements" width="280" height="157" loading="lazy" />
  </picture>
  <p>
    Used to create a virtual model of the future project, Building Information
    Modeling encompasses the technology, the data environment, and the processes
    necessary for the system to function. Data, such as materials, cost
    estimates, and production schedules, are also stored in the BIM environment
    and are used for construction planning.
  </p>
  <p>
    On the other hand, VDC offers tools for managing the entire design,
    engineering, and construction process. Using the BIM model, VDC enables
    better communication, real-time collaboration, data tracking, and progress
    control, resulting in a holistic planning approach.
  </p>
  <p>To sum up&#58;</p>

  <ul class="blog__list">
    <li class="blog__item-arrow">
      BIM is a product design tool, an integral part of the VDC process. Its
      purpose is to produce a virtual model that describes the product itself,
      the organization that will work on it, and the process it will follow.
    </li>
    <li class="blog__item-arrow" >
      By applying VDC workflows, the teams leverage this model to manage the
      entire lifecycle of the construction project.
    </li>
  </ul>

  <p>
    With proper implementation and support, any company in the AEC sector can
    enjoy the advantages of adopting BIM/VDC in construction and engineering
    projects. Whether it&#39;s an architectural firm, a mechanical engineering
    firm, or a full-cycle construction company, upgrading to the new workflow
    will save time, help reduce expenses, and open business opportunities.
  </p>
</section>