<section class="blog blog-section what" id="introduction-vdc1">
    <h2 class="blog__title">What is VDC&#63;</h2>
    <picture>
        <source srcset="
        ./images/blog/introduction-to-virtual-design/what/what-lg.webp    1x,
        ./images/blog/introduction-to-virtual-design/what/what-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/introduction-to-virtual-design/what/what-lg.jpg    1x,
        ./images/blog/introduction-to-virtual-design/what/what-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/introduction-to-virtual-design/what/what-sm.webp    1x,
        ./images/blog/introduction-to-virtual-design/what/what-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/introduction-to-virtual-design/what/what-sm@2x.jpg" media="(max-width: 374px)"
            type="image/jpeg" />

        <img class="blog__image" src="./images/blog/introduction-to-virtual-design/what/what-sm.jpg"
            alt="building construction" width="280" height="157" loading="lazy" />
    </picture>
    <p>
        Simply put, Virtual Design and Construction is a methodology for planning
        and managing the entire lifecycle of complex design and construction
        projects that involves using computer-generated models. Sounds a bit
        overwhelming&#63; Let&#39;s have a detailed look.
    </p>
    <p>
        If you&#39;re reading this article, you&#39;re aware of the intricacy of the
        engineering and construction process. Of course, it&#39;s always about
        completing the project. And doing it in a way that ensures the customer is
        happy, budgets are not overrun, deadlines are met, contractors work at a
        realistic pace, all safety measures are followed, and risks are managed.
        Wouldn&#39;t it be nice to have a system in place, backed up by the latest tech,
        that enables seamless coordination of all teams and helps achieve the
        project&#39;s objectives more quickly and efficiently&#63;
    </p>
    <p>Enter VDC:</p>

    <ul class="blog__list">
        <li class="blog__item-arrow">
            A common framework for all parties to operate in, along with the technical
            solutions needed to get the job done.
        </li>
        <li class="blog__item-arrow">
            Everything from blueprints to the construction schedule and expenses can
            be included in the virtual model long before actual work starts on the
            ground.
        </li>
        <li class="blog__item-arrow">
            Designers, engineers, contractors, and stakeholders share a realistic 3D
            construction site and can all be involved in meetings to discuss their
            needs, make changes, and get progress updates.
        </li>
        <li class="blog__item-arrow">
            The system continuously collects and analyzes data, which can be used
            later for decision-making and risk management.
        </li>
    </ul>

    <p>VDC includes a virtual model and helps support a property throughout its entire lifecycle - from design and
        construction
        to maintenance and eventual demolition. But isn&#39;t there another similar process that&#39;s been on the
        market for
        some time&#63;
        We&#39;re talking about BIM - Building Information Modeling.
    </p>
    <p>While VDC is a relatively new approach in the AEC industry, you&#39;ve probably heard of BIM or even had some
        experience
        with it. As the concept of BIM overlaps with VDC in certain ways, and so the two terms often get confused,
        we&#39;re
        providing a brief explanation to clear things up.
    </p>
</section>