<section class="blog-section contents">

    <div class="contents__wrapper">
        <h2 class="blog__title contents__title">Contents</h2>
        <ul class="contents__list">
            <li class="contents__item">
                <a href="#benefits-using1" class="contents__link navigation__list-link">What Is Laser Scanning?</a>
            </li>
            <li class="contents__item">
                <a href="#benefits-using2" class="contents__link navigation__list-link">Why Did the Construction Industry Shift to Laser Scanning?</a>
            </li>
            <li class="contents__item">
                <a href="#benefits-using3" class="contents__link navigation__list-link">What Tasks Does Laser Scanning Solve in Construction?</a>
            </li>
            <li class="contents__item">
                <a href="#benefits-using4" class="contents__link navigation__list-link">How the Construction Industry Benefits from Laser Scanning</a>
            </li>
            <li class="contents__item">
                <a href="#benefits-using5" class="contents__link navigation__list-link">Laser Scanning in Construction: a Step-by-Step Plan</a>
            </li>
        </ul>
    </div>

</section>