<section class="blog blog-section introduction">

    {% include 'blog/components/author.html' %}
    <div class="introduction__description">
        <p>
            The laser scanning market is more active than you might have thought. Its global revenues will increase by $10 billion in 2024. Saving costs, collecting accurate data, and monitoring progress are just several benefits that made renowned companies like Gilbane and ATFF use laser scanning in construction.
        </p>
        <p>
            You can benefit from the laser scanning technique too. Start by discovering the key solutions and advantages laser scanning brings to the construction industry.
        </p>
    </div>

</section>