<section class="blog blog-section">
  {% include 'blog/components/case-studies.html' %}
  <h2 class="blog__title" id="benefits-using5">
    Laser Scanning in Construction: a Step-by-Step Plan
  </h2>
  <picture>
    <source srcset="
            ./images/blog/laser-scanning/scan-workflow-lg.webp    1x,
            ./images/blog/laser-scanning/scan-workflow-lg@2x.webp 2x
          " media="(min-width: 1200px)" type="image/webp" />

    <source srcset="
            ./images/blog/laser-scanning/scan-workflow-lg.jpg    1x,
            ./images/blog/laser-scanning/scan-workflow-lg@2x.jpg 2x
          " media="(min-width: 1200px)" type="image/jpeg" />

    <source srcset="
            ./images/blog/laser-scanning/scan-workflow-md.webp 1x,
            ./images/blog/laser-scanning/scan-workflow-lg.webp 2x
          " media="(min-width: 768px)" type="image/webp" />

    <source srcset="
            ./images/blog/laser-scanning/scan-workflow-md.jpg 1x,
            ./images/blog/laser-scanning/scan-workflow-lg.jpg 2x
          " media="(min-width: 768px)" type="image/jpeg" />

    <source srcset="
            ./images/blog/laser-scanning/scan-workflow-sm.webp 1x,
            ./images/blog/laser-scanning/scan-workflow-md.webp 2x
          " media="(max-width: 767px)" type="image/webp" />
    <source srcset="./images/blog/laser-scanning/scan-workflow-md.jpg" media="(max-width: 374px)" type="image/jpeg" />

    <img class="blog__image" src="./images/blog/laser-scanning/scan-workflow-sm.jpg" alt="strong man" width="280"
      height="151" loading="lazy" />
  </picture>
  <p>
    If you need to create a 3D model, scanners help you understand the space around the construction site properly. With
    scanned data, you can know the exact context of building surroundings and prevent mistakes during the building
    process.
  </p>
  <p>
    So once you’ve decided to use laser scanning, you can start to implement it with these <span
      class="blog__text-strong">four steps:</span>
  </p>

  <ul class="blog__list">
    <li class="blog__item">
      <span class="blog__text-strong">01 Identify information requirements.</span> The scanning process is time-consuming.
      It involves gathering large datasets about the construction area and analyzing the desired outcomes for the site.
      To achieve that, you need to identify requirements for the scanned information about the location and its size.
    </li>
    <li class="blog__item">
      <span class="blog__text-strong">02 Carry out scan planning.</span> Preparation of the right site plan should not be
      omitted if you want to use laser scanning technology. During this process, make sure that you have enough time to
      investigate the site project, set up its plan, and generate a site reference control with a grid.
    </li>
    <li class="blog__item">
      <span class="blog__text-strong">03 Scan capturing reality.</span>Reality capture is a software solution that creates
      3D models from laser scans. In the construction industry, this technology is used to gather detailed point cloud
      data.
    </li>
    <li class="blog__item">
      <span class="blog__text-strong">04 Scan to BIM model.</span> Developing as-built 3D BIM models from laser-surveyed
      data images and point cloud scan. Powerkh has solid expertise in this process. Our company can create a precise
      model from LOD 1 to LOD 4. But more frequently, Powerkh produces the LOD 3 model that has geometric accuracy of
      15-30 mm (0.5-1.0 in). So if you have an idea about creating a highly accurate 3D BIM model, drop us a line and
      book a consultation with us.
    </li>
  </ul>

  <p>
    These steps may look general, but they’re the basis of a great experience with laser scanning and a successful
    construction project.
  </p>

  <picture>
    <source srcset="
          ./images/blog/laser-scanning/bim-model-lg.webp    1x,
          ./images/blog/laser-scanning/bim-model-lg@2x.webp 2x
        " media="(min-width: 1200px)" type="image/webp" />
    <source srcset="
          ./images/blog/laser-scanning/bim-model-lg.jpg    1x,
          ./images/blog/laser-scanning/bim-model-lg@2x.jpg 2x
        " media="(min-width: 1200px)" type="image/jpeg" />
    <source srcset="
          ./images/blog/laser-scanning/bim-model-md.webp 1x,
          ./images/blog/laser-scanning/bim-model-lg.webp 2x
        " media="(min-width: 768px)" type="image/webp" />
    <source srcset="
          ./images/blog/laser-scanning/bim-model-md.jpg 1x,
          ./images/blog/laser-scanning/bim-model-lg.jpg 2x
        " media="(min-width: 768px)" type="image/jpeg" />
    <source srcset="
          ./images/blog/laser-scanning/bim-model-sm.webp 1x,
          ./images/blog/laser-scanning/bim-model-md.webp 2x
        " media="(max-width: 767px)" type="image/webp" />
    <source srcset="./images/blog/laser-scanning/bim-model-md.jpg" media="(max-width: 374px)" type="image/jpeg" />
    <img class="blog__image" src="./images/blog/laser-scanning/bim-model-sm.jpg" alt="strong man" width="280"
      height="151" loading="lazy" />
  </picture>

  <h2 class="blog__title">
    Get the Most out of Laser Scanning for Your Construction Project!
  </h2>
  <p>
    Laser scanning technique is a true savior in the construction process. It offers accurate and detailed mapping of a
    building site, preventing operational risks, saving cost, boosting productivity, and improving quality.
  </p>
  {% include 'blog/components/subscription.html' %}
  {% include 'blog/benefits-of-using-laser-scanning/conclusion.html' %}
</section>