<section class="bim-vdc service-description">
  <div class="container">

    <h1 class="service-description__title">BIM &amp; VDC Services</h1>

    <div class="about__text-wrapper">
      <p class="about__text">Building Information Modeling &lpar;BIM&rpar; and Virtual Design &amp; Construction
        &lpar;VDC&rpar; take construction management to new heights. However, few companies can successfully move from
        the conventional approach with flat drawings towards complex 3D modeling.
        <br>
        <br>
        Powerkh is one of these companies. Our team has vast experience with both traditional and digitalized projects.
        As such, we can ease the transition and help you out at every stage of construction.
      </p>
      <p class="about__text">Do you want to improve your project’s success rate and efficiency? Powerkh provides a wide
        range of Revit BIM services for various industries. We can audit your workflow and introduce automation
        solutions to help you perform routine processes three times as fast.
        <br>
        <br>
        With us at your side, you will rethink how you plan, perform, and coordinate your teams.
      </p>
    </div>

    <p class="service-description__list-title"><strong>Who Can Benefit from BIM Outsourcing Services?</strong></p>

    <p class="service-include__list-title">
      Our virtual design and construction offerings bring benefits to:
    </p>

    <ul class="service-include__list home-page">
      <li class="service-include__item">Architects</li>
      <li class="service-include__item">Engineers</li>
      <li class="service-include__item">Designers</li>
      <li class="service-include__item">Contractors</li>
      <li class="service-include__item">Surveyors</li>
      <li class="service-include__item">Consultants</li>
      <li class="service-include__item">On-site teams</li>
    </ul>

  </div>
</section>