<section class="customers">
  <div class="container">
    <h2 class="customers__title">Our Customers</h2>

    <ul class="customers__list">
      <li class="customers__list-item">
        <a
          href="https://reiscontracting.com"
          class="customers__list-link customers__list-link_reis"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="reis logotype"
        ></a>
      </li>
      <li class="customers__list-item">
        <a
          href="https://www.firmus.ai"
          class="customers__list-link customers__list-link_firmus"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="firmus logotype"
        ></a>
      </li>
      <li class="customers__list-item">
        <a
          href="http://revealconsultinggroup.com"
          class="customers__list-link customers__list-link_reveal"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="reveal consulting group logotype"
        ></a>
      </li>
      <li class="customers__list-item">
        <a
          href="https://createarchitecture.co.uk"
          class="customers__list-link customers__list-link_architectur"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="create architectur logotype"
        ></a>
      </li>
      <li class="customers__list-item">
        <a
          href="https://revere.design"
          class="customers__list-link customers__list-link_revere"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="revere logotype"
        ></a>
      </li>
      <li class="customers__list-item">
        <a
          href="https://www.wdgarch.com"
          class="customers__list-link customers__list-link_wdg"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="wdgarch logotype"
        ></a>
      </li>
    </ul>
  </div>
</section>
