<section class="services-contact">
  <div class="container">
    <div class="services-contact__block">

      <h2 class="services-contact__title">VDC &amp; BIM Solutions Powered by Expertise</h2>

      <p class="services-contact__text">Whether you need an accurate 3D model, detailed shop drawings, or
        performance-enhancing workarounds — Powerkh can help you with affordable VDC and BIM solutions.
        <br>
        Do you want to entrust your project to experts?
      </p>

      <button class="faq__contact-btn contact-btn services-contact__btn" type="button" data-modal="contact-modal">Start
        by contacting us for a consultation!</button>

    </div>
  </div>
</section>