<section class="hero" id="hero">
  <div class="container">
    <div class="banner banner--hero">
      <a href="/" class="logo logo--hero" aria-label="Powerkh logo">
        <svg class="logo-svg logo-svg--hero">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>

      <p class="banner__text">
        Looking for a way to improve your design and manage your construction
        effectively?
        <br />
        <br />
        Powerkh - a trusted BIM & VDC services provider with extensive
        engineering experience and a portfolio of 200+ successful BIM & VDC
        projects.
      </p>

      <button class="banner__button" type="button" data-modal="contact-modal">
        Discuss the task
        <svg>
          <use href="./images/sprite.svg#right-arrow"></use>
        </svg>
      </button>
    </div>

    <ul class="modeling-links">
      <li class="modeling-links__item modeling-links__item--first">
        <a href="./bim-modeling.html">
          <div class="modeling-links__content">
            <p class="modeling-links__title">BIM Modeling</p>
            <picture>
              <source
                srcset="./images/services/01-modeling/bg-modeling-sm.webp"
                type="image/webp"
              />
              <img
                src="./images/services/01-modeling/bg-modeling-sm.jpg"
                loading="lazy"
                alt="BIM Modeling example"
                class="modeling-links__image"
                width="190"
                height="127"
              />
            </picture>
          </div>
        </a>
      </li>
      <li class="modeling-links__item modeling-links__item--second">
        <a href="./scan-to-bim.html">
          <div class="modeling-links__content">
            <p class="modeling-links__title">Scan to BIM</p>
            <picture>
              <source
                srcset="
                  ./images/services/02-coordination/bg-coordination-sm.webp
                "
                type="image/webp"
              />
              <img
                src="./images/services/02-coordination/bg-coordination-sm.jpg"
                width="190"
                height="127"
                loading="lazy"
                alt="Scan to BIM example"
                class="modeling-links__image"
              />
            </picture>
          </div>
        </a>
      </li>
      <li class="modeling-links__item modeling-links__item--third">
        <a href="./bim-automation.html">
          <div class="modeling-links__content">
            <p class="modeling-links__title">BIM Automation</p>
            <picture>
              <source
                srcset="./images/services/03-content/bg-content-sm.webp"
                type="image/webp"
              />
              <img
                src="./images/services/03-content/bg-content-sm.jpg"
                width="190"
                height="127"
                loading="lazy"
                alt="BIM Automation example"
                class="modeling-links__image"
              />
            </picture>
          </div>
        </a>
      </li>
      <li class="modeling-links__item modeling-links__item--fourth">
        <button
          type="button"
          class="modeling-links__button"
          data-modal="story-modal"
        >
          <div class="modeling-links__content">
            <p class="modeling-links__title">Video</p>
            <picture>
              <source
                srcset="./images/video-poster/video-poster-sm.webp"
                type="image/webp"
              />
              <img
                src="./images/video-poster/video-poster-sm.jpeg"
                width="190"
                height="127"
                loading="lazy"
                alt="Video presentation of our team"
                class="modeling-links__image modeling-links__image--top"
              />
            </picture>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
