<section class="projects">
  <div class="container">

    <h2 class="projects__title">BIM Services Provided by Powerkh</h2>

    <div class="projects__text-content">
      <p class="projects__text">We will share our tried and tested BIM
        Powerkh is a digital design and consultancy company that works in the US, UK, and Europe. We hire the best BIM
        professionals and qualified designers with relevant experience across multiple sectors.</p>
    </div>

    <p class="projects__text service-description__desc">Our company offers:</p>

    <ul class="projects__list">
      <li class="projects__list-item">
        <a href="./bim-modeling.html" class="projects__list-item-link link--modeling">
          <div class="projects__list-content">
            <h3 class="projects__list-title">BIM Modeling</h3>
            <p class="projects__list-text">3D BIM modeling services &lpar;LOD 100 to LOD 400&sol;500&rpar;
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./bim-coordination.html" class="projects__list-item-link link--coordination">
          <div class="projects__list-content">
            <h3 class="projects__list-title">BIM Coordination</h3>
            <p class="projects__list-text">BIM coordination & consultation services, Revit clash detection &amp;
              resolution
              services
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./bim-content-creation.html" class="projects__list-item-link link--content">
          <div class="projects__list-content">
            <h3 class="projects__list-title">BIM Content</h3>
            <p class="projects__list-text">Creation of Revit families & Management
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./scan-to-bim.html" class="projects__list-item-link link--scan">
          <div class="projects__list-content">
            <h3 class="projects__list-title">Scan to BIM</h3>
            <p class="projects__list-text">Point Cloud to BIM conversion and data processing, 2D as-built drawings
              &lpar;based on your Point Cloud data&rpar;
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./bim-automation.html" class="projects__list-item-link link--design">
          <div class="projects__list-content">
            <h3 class="projects__list-title">BIM Automationn</h3>
            <p class="projects__list-text">Workflow optimization & integration with BIM software, Automation & scripting
              solutions, Generative design
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./bim-prefabrication.html" class="projects__list-item-link link--prefabrication">
          <div class="projects__list-content">
            <h3 class="projects__list-title">BIM Prefabrication &amp; Fabrication</h3>
            <p class="projects__list-text">BIM prefabrication for CNC manufacturing, Design-to-fabrication workflows,
              Shop drawings
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <li class="projects__list-item">
        <a href="./structural-detailing.html" class="projects__list-item-link link--detailing">
          <div class="projects__list-content">
            <h3 class="projects__list-title">Structural Detailing</h3>
            <p class="projects__list-text">Steel, Rebar, Precast, and Facade detailing, Shop &lpar;fabrication&rpar;
              drawings,
              Concrete outline drawings
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li>
      <!-- <li class="projects__list-item">
        <a href="./architectural-rendering.html" class="projects__list-item-link link--rendering">
          <div class="projects__list-content">
            <h3 class="projects__list-title">Architectural Rendering</h3>
            <p class="projects__list-text">3D architectural rendering services &lbrack;Exterior, Interior, 3D
              Visualization
              Company&rbrack;
              <svg>
                <use href="./images/sprite.svg#right-arrow"></use>
              </svg>
            </p>
          </div>
        </a>
      </li> -->
      <li class="projects__list-item">
        <button class="projects__list-modal-btn" type="button" data-modal="contact-modal">
          <span class="projects__list-modal-text">Contact us <br> with new <br> business inquiry</span>
          <svg width="47" height="47">
            <use href="./images/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

  </div>
</section>