/* FONT-FASE */
@mixin font-face($font-name, $path, $weight: 400, $style: normal, $display: swap) {
  @font-face {
    font-family: quote($font-name); /* IE9 Compat Modes */
    src: url($path + '.eot');
    src: url($path + '.eot?#iefix') format('embedded-opentype'),
      //  Legacy iOS  url($path + '.ttf') format('truetype'),
        /* Safari, Android, iOS */ url($path + '.woff') format('woff'),
      /* Modern Browsers */ url($path + '.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
  }
}

/* FONTS STYLE */
@mixin fonts($fs, $fw, $lh, $ls: 0.01em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

/* SET REM FUNCTION */
@function rem($px) {
  @return calc($px / 16) + rem;
}

/* MEDIA QUERIES*/
@mixin mq($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop-lg: 1024px;
  $desktop: 1280px;
  $fullhd: 1536px;

  @if $range == mobile-only {
    @media (max-width: #{$tablet - 0.02}) {
      @content;
    }
  } @else if $range == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop-lg {
    @media (min-width: $desktop-lg) {
      @content;
    }
  } @else if $range == desktop-lg-only {
    @media (min-width: $desktop-lg) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == desktop-only {
    @media (min-width: $desktop) and (max-width: #{$fullhd - 0.02}) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $range == notDesktop {
    @media (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == fullhd {
    @media (min-width: $fullhd) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-moz-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  }
}

/* CENTERING A BLOCK */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* COVER BACKGROUND */
@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* HexToRGB FUNCTION */
@function HexToRGB($hexColor) {
  @return '#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}';
}
