:root {
  /* TEXT COLORS */
  --dark-text-cl: #222222;
  --dark-text-cl-rgb: #{HexToRGB(#222222)};
  --grey-text-cl: #777777;
  --main-text-cl: #585858;
  --white-text-cl: #ffffff;
  --item-text-cl: #000000;
  --slider-decor-cl: #ababab;
  --border-cl: #d5d5d5;
  --warning-color: #b60606;

  /* BACKGROUND COLORS */
  --dark-bg: #222222;
  --hover-btn-cl: #333333;
  --prototype-bg: #c4c4c4;
  --white-bg: #ffffff;
  --dark-border-cl: #06070d;

  /* FONTS */
  --main-font: 'Lato', sans-serif;
  --card-set-item: 1;
  --gap-left: 80px;
  --gap-top: 80px;
}
