.career-cont {
  text-align: center;

  @include mq(tablet) {
    max-width: 768px;
  }

  @include mq(desktop) {
    max-width: 1280px;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__descr {
    font-weight: bold;
    // font-size: 24px;
    line-height: 1.46;
    color: var(--dark-text-cl);

    @include mq(tablet) {
      font-size: 24px;
    }

    @include mq(desktop) {
      font-size: 28px;
    }

    @include mq(fullhd) {
      font-size: 20.5px;
    }

    @media (min-width: 1600px) {
      font-size: 21.5px;
    }

    @media (min-width: 1680px) {
      font-size: 23px;
    }

    @media (min-width: 1920px) {
      font-size: 26.5px;
    }

    @media (min-width: 1986px) {
      font-size: 28px;
    }
  }

  &__btn {
    margin: 0 auto;

    background-color: transparent;
    color: var(--dark-text-cl);
    text-decoration: none;
    line-height: 38px;
  }
  &__link {
    color: var(--dark-text-cl);
  }
}
