.footer {
  padding-top: 60px;
  padding-bottom: 32px;

  &-leftside {
    @include mq(notDesktop) {
      margin-bottom: 50px;
    }
  }
}

.footer-cont {
  // position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  margin-bottom: 50px;

  border-top: 1px solid #d5d5d5;

  @include mq(notDesktop) {
    text-align: center;
  }

  @include mq(tablet) {
    padding-top: 47px;
  }

  @include mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__logo {
    width: 80px;
    height: 48px;

    @include mq(notDesktop) {
      margin: 0 auto;
    }
  }

  &__address {
    font-size: 16px;
    margin-top: 21px;
  }

  .footer-rightside {
    @include mq(desktop) {
      align-self: flex-end;
    }
  }

  &__email {
    display: block;
    margin-bottom: 40px;

    font-size: 16px;
    text-decoration: none;

    @include mq(tablet) {
      margin-bottom: 24px;
    }

    @include mq(desktop) {
      margin-bottom: 21px;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.41;
    color: var(--slider-decor-cl);
    text-align: center;

    @include mq(desktop) {
      text-align: start;
    }
  }

  &__scrollup {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--dark-text-cl);
    border: none;
    background: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--slider-decor-cl);
    }

    @include mq(desktop) {
      margin-left: 60px;
    }
  }

  &__scrollup-icon {
    margin-bottom: 12px;
    fill: currentColor;
  }
}

.footer-links {
  @include mq(desktop) {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4px;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 210px;
    margin-top: -22px;
    margin-bottom: 55px;

    @include mq(tablet) {
      max-width: 100%;
    }

    @include mq(desktop) {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-top: 22px;

    width: 44px;
    height: 44px;

    border: 1px solid var(--slider-decor-cl);
    background-repeat: no-repeat;
    background-position: center;

    &:hover,
    &:focus {
      border-color: var(--dark-bg);
      background-color: var(--dark-bg);
    }

    @include mq(mobile-only) {
      &:nth-child(3n) {
        margin-right: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include mq(tablet) {
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }

  &__icon {
    fill: #222222;

    .footer-links__item:hover &,
    .footer-links__item:hover & {
      fill: #fff;
    }
  }

  &__icon-instagram {
    fill: #fff;
    stroke: #222222;

    .footer-links__item:hover &,
    .footer-links__item:hover & {
      fill: transparent;
      stroke: #fff;
    }
  }
}

.address {
  @include mq(desktop) {
    display: flex;
    align-items: baseline;
    gap: 60px;
  }
}
