.hero {
  padding-top: 20px;
  padding-bottom: 10px;

  @include mq(desktop) {
    padding-top: 47px;
  }

  @include mq(fullhd) {
    padding-top: 49px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    // padding-bottom: 50px;

    @include mq(desktop) {
      display: grid;
      flex-direction: row;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr auto;
      padding-bottom: 100px;
    }

    &::after {
      content: 'Scroll Down';
      visibility: hidden;
      position: absolute;
      display: block;
      bottom: 3%;
      left: calc(100% / 2 - 55px);
      width: 115px;
      height: 27px;
      font-size: 10px;
      text-align: center;
      animation: 1.5s ease-out 1s scrollDown infinite;
      -webkit-animation: 1.5s ease-out 1s scrollDown infinite;
      -moz-animation: 1.5s ease-out 1s scrollDown infinite;

      @include mq(desktop) {
        visibility: visible;
        bottom: 7%;
        font-size: 12px;
      }
      @include mq(fullhd) {
        bottom: 3%;
      }
      @-webkit-keyframes scrollDown {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(35px);
        }
      }
      @-moz-keyframes scrollDown {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(35px);
        }
      }

      @keyframes scrollDown {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(35px);
        }
      }
    }
  }

  &__description-slider {
    // margin-top: 50px;
    @include mq(desktop-lg) {
      // margin-top: 35%;
    }
  }

  &__slider-wrapper {
    display: flex;
    position: relative;

    @include mq(mobile-only) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -1px;

    @include mq(desktop-lg) {
      width: calc(40% - 40px);
      margin-right: 40px;
    }

    @include mq(desktop) {
      width: calc(35% - 40px);
    }
  }

  &__image-slider {
    font-size: 0;
    aspect-ratio: 1.79/1;
    position: relative;
    // @include mq(tablet) {
    //   width: calc(60% - 40px);
    // }

    @include mq(desktop) {
      grid-column: 2/3;
      grid-row: 1/3;
    }
  }
  &__image {
    width: 100%;
  }
  &__image-item {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 700ms ease-in-out;

    &.active-slider {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item-content {
    position: relative;
    height: 130px;
    @include mq(mobile) {
      height: 100px;
    }
    @include mq(tablet) {
      height: 85px;
    }
    @include mq(desktop-lg) {
      height: 130px;
    }
    @include mq(desktop) {
      height: 150px;
      // display: flex;
      // justify-content: space-between;
    }
  }
  &__title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    &.active-slider {
      //display: flex;
      opacity: 1;
      visibility: visible;
    }
    @include mq(desktop-only) {
      margin-right: 70px;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;

    @include mq(notdesktop) {
      margin-bottom: 10px;
    }
    @include mq(desktop) {
      font-size: 5rem;
    }
    @include mq(fullhd) {
      font-size: 5.2rem;
    }
  }

  &__description {
    margin-bottom: 30px;

    @include mq(desktop) {
      margin-bottom: 50px;
    }
    @include mq(fullhd) {
      margin-bottom: 35px;
    }
  }
  &__item-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 20px;

    @include mq(desktop) {
      font-size: 1.75rem;
    }
  }
  &__image-wrapper {
    @include mq(tablet) {
      max-width: calc(60% - 40px);
    }
  }
  &__pagination {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;

    @include mq(tablet) {
      margin-top: 30px; // 40px
    }
  }

  &__pagination-text {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.75rem;
    letter-spacing: -0.05em;
    text-align: center;

    white-space: nowrap;

    border: 1px solid var(--main-text-cl);
    cursor: pointer;

    @include mq(desktop) {
      padding: 5px 20px;
    }
  }
  [data-hero-pagin] {
    //.slick-track {
    //  display: flex;
    //  justify-content: space-between;
    //}

    .hero__pagination-item {
      @include mq(mobile-only) {
        padding: 5px 0;
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
      &.active-slider {
        .hero__pagination-text {
          background-color: var(--dark-bg);
          color: var(--white-text-cl);
          border: 1px solid var(--dark-border-cl);
        }
      }
    }
    //.slick-slide:not(:last-child) {
    //  margin-right: 5px;
    //}
  }
}
