.how-list {
  &__title-wrapper {
    margin-bottom: 32px;

    @include mq(tablet) {
      padding-top: 60px;
      margin-bottom: 40px;
    }

    @include mq(desktop) {
      position: relative;
      padding-top: 80px;
      margin-bottom: 0;
      --card-set-item: 4;
    }
  }

  &__undertitle {
    @include mq(tablet) {
      margin-left: -1px;
    }
  }

  &__image-wrapper {
    @include mq(desktop) {
      --card-set-item: calc(12 / 9);
    }
  }

  &__image {
    // filter: brightness(0.5);
  }
}

.how-title {
  @include mq(tablet) {
    margin-left: -3px;
  }
}

.how-slider {
  &__counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;

    width: 100%;

    font-weight: 700;
    line-height: 1.2;

    @include mq(tablet) {
      position: absolute;
      top: -2px;
      left: 0;
    }
    @include mq(desktop) {
      position: absolute;
      top: -3px;
      left: 0;
    }
  }

  &__current {
    margin-right: 4px;
    font-size: 30px;
    line-height: 1;
    color: var(--dark-text-cl);

    @include mq(tablet) {
      position: absolute;
      top: 7%;
      left: 0;
      font-size: 24px;
    }
    @include mq(desktop) {
      top: -10%;
      font-size: 44px;
    }
  }

  &__total {
    font-size: 20px;
    vertical-align: top;

    color: var(--slider-decor-cl);

    @include mq(tablet) {
      position: absolute;
      top: 10%;
      left: 32px;
      // left: 5%;
      font-size: 16px;
      line-height: 1;
    }
    @include mq(desktop) {
      top: -10%;
      left: 55px;
      // left: 21%;
      font-size: 24px;
      line-height: 1.35;
    }
  }

  &__btn {
    display: inline-block;
    width: 16px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center 6px;
    background-color: transparent;

    @include mq(desktop) {
      background-position: center 2px;
    }
    &:not(:last-child) {
      margin-right: 40px;

      @include mq(desktop) {
        margin-right: 26px;
      }
    }
    &.how-prev {
      background-image: url('../images/how/btn-prev.svg');
    }
    &.how-next {
      background-image: url('../images/how/btn-next.svg');
    }
  }
}

.btn-play {
  position: relative;
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;

  &:hover .btn-play__icon,
  &:focus .btn-play__icon {
    opacity: 1;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }
}
