.modal-content {
  position: relative;
  padding: 76px 80px;

  @media screen and (min-width: 320px) and (max-width: 480px) {
    padding: 76px 40px;
  }
}

.modal-title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--item-text-cl);

  @media screen and (min-width: 320px) and (max-width: 400px) {
    max-width: 160px;
  }

  &:nth-child(2) {
    padding-bottom: 5px;
  }
}

.contact-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  &__group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__label {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 14px;
    line-height: 1.41;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  &__input {
    margin-top: 10px;
    padding-bottom: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey-text-cl);
    font-size: 16px;
    line-height: 1.43;
    color: var(--dark-text-cl);
  }

  &__button {
    margin-top: 28px;
  }
  &__comment {
    margin-top: 8px;
  }
  &__comment,
  &__question {
    resize: none;
    outline: none;
    border: 1px solid var(--grey-text-cl);
  }
  label[for='comment'] {
    font-size: 14px;
    line-height: 1.41;
  }
}

// .invalid-feedback {

//   color: red;
//   font-size: 12px;
// }

.contact-form__input:focus + .contact-form__label {
  transform: translateY(-25px);
}

.wrote + .contact-form__label {
  transform: translateY(-25px);
}
