.why-list {
  @include mq(tablet-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    --card-set-item: 2;
    margin-top: -50px;
  }

  &__item {
    @include mq(mobile-only) {
      margin-bottom: 32px;

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }

    @include mq(tablet-only) {
      max-width: 40%;
      margin-top: 50px;
    }

    @include mq(desktop) {
      --card-set-item: 4;
    }

    &::before {
      content: '';
      display: block;
      width: 52px;
      height: 59px;
      margin-bottom: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.cost-eff::before {
  background-image: url('../images/why/why1.svg');
}
.design-exp::before {
  background-image: url('../images/why/why2.svg');
}
.soft-mastery::before {
  background-image: url('../images/why/why3.svg');
}
.value::before {
  background-image: url('../images/why/why4.svg');
}
