<section class="blog " id="how-bim-works3">

    <h3 class="blog__item-title">What are the BIM dimensions?</h3>
    <p>There are four main types of BIM dimensions:</p>
    <ul class="blog__list">
        <li class="blog__item-arrow">
            3D, encompassing 3D-generated documents and drawings

        </li>
        <li class="blog__item-arrow">
            4D, coupling them with time management
        </li>
        <li class="blog__item-arrow">
            5D, adding cost estimates and related data to the mix
        </li>
        <li class="blog__item-arrow">
            6D, covering the object lifecycle management
        </li>


    </ul>
    <p>The BIM design process imports the real-world point cloud data to build 3D models of structural components of a
        future
        building. But it goes far beyond delivering blueprints only. It covers the whole project lifecycle, from
        planning to
        construction to maintenance.</p>
</section>