<section class="blog blog-section" >
    {% include 'blog/components/case-studies.html' %}
    <h2 class="blog__title"id="how-bim-works6" >BIM process explained</h2>
    <p>
        The AEC professionals must comply with requirements like ISO 19650 or
        similar country-specific regulations. In short, this means that while
        planning the built assets, the customer has to outline the Employer's
        Information Requirements. This ensures that all the appropriate information
        required to design, construct, and operate any built assets is timely
        delivered to all parties in a suitable format.
    </p>
    <p>
        The “suitable format” definition depends on the degree of the BIM maturity
        of any given party:
    </p>
    <ul class="blog__list">
        <li class="blog__item-arrow">
            Level 0 BIM refers to unmanaged sets of CAD documents.
        </li>
        <li class="blog__item-arrow">
            Level 1 BIM introduces managed 2D and 3D models.
        </li>
        <li class="blog__item-arrow">
            Level 2 BIM stands for developing collaborative 3D environments with
            shared data but created in various discipline models. AEC professionals
            worldwide are now adopting this stage. Level 2 BIM compliance is required
            by an ever-increasing number of government BIM mandates.
        </li>
        <li class="blog__item-arrow">
            Level 3 BIM is not properly defined yet, but it is expected to provide
            centralized access to a single cloud-based collaborative project model
            covering all stages, from asset design to construction sequencing,
            operational costs, and facility management data.
        </li>
    </ul>

    <picture>
        <source srcset="
        ./images/blog/how-bim-works/explained-lg.webp    1x,
        ./images/blog/how-bim-works/explained-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/how-bim-works/explained-lg.jpg    1x,
        ./images/blog/how-bim-works/explained-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/how-bim-works/explained-sm.webp    1x,
        ./images/blog/how-bim-works/explained-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/how-bim-works/explained-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image" src="./images/blog/how-bim-works/explained-sm.jpg" alt="4 levels of BIM maturity"
            width="280" height="157" loading="lazy" />
    </picture>

    <p>
        Thus, every AEC organization willing to work with government contracts must comply with Level 2 BIM
        requirements. This
        might prove difficult due to the challenges described above. Government contracts and regulatory requirements
        left
        aside, BIM implementation lays the ground for engaging in large-scale construction projects and opens new
        business
        opportunities.

    </p>

    <p>
        Moving on to BIM stages, there are four of them:

    </p>
    <ul class="blog__list">
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Predesign.</span>
            An architect prepares a schematic 3D model of the future built asset in Revit based on the 2D drawings
            imported. This
            doubles as a presentation for the customer. After the walkthrough of the rendered model, the customer can
            provide
            feedback on the design or request to add some tweaks.

        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Schematic design.</span>
            At this stage, the 4D (scheduling) and 5D (cost) considerations are added to the project. Adding cost
            estimates to the
            project will help track the construction efficiency later down the track. Scan to BIM services guarantee
            that precise
            models are built from point cloud data. The models are built in the way the real building will be
            constructed, thus
            ensuring the right sequencing of the operations. This stage produces models for all key structural
            components,
            ventilation, heating, elevators, MEP systems, etc.

        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Detailed design.</span>
            This is a stage of interference check and clash resolution. It is important to establish precise element
            coordination
            and ownership at this stage and determine which discipline originally modeled this or that element. The
            Model Element
            Author (MEA) has ownership of the elements they created, so if there are any collaborative updates on the
            elements used
            in linked models, the MEA decides where to propagate the changes. One of the most essential aspects of BIM
            is the
            ability to model every element just once and then update it simultaneously in all the linked models in a
            particular
            project.

        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Construction.</span>
            Throughout this phase, the results of the BIM design process come to fruition. Thanks to detailed
            walkthroughs and
            renderings, the customer is always on the same page with the AEC team. Design models from the BIM team are
            now replaced
            with models from subcontractors who run their own interference checks in the field. Should any design
            clashes still
            occur, they can be reported and tracked till resolution using BIM software like Navisworks. Due to
            scheduling, most
            construction elements should be prefabricated, and on-site fabrication must accelerate.
        </li>

    </ul>
    <p>As a result of the BIM workflow process, a centralized data environment is created, and the customer saves time
        and
        money on design and blueprinting. The prefabrication and fabrication processes go without costly reworks, as all
        major
        issues are ironed out in models. The BIM construction process ensures visibility at every stage thanks to
        scheduling and
        cost monitoring. The library of models and elements used in a specific project can be stored and easily reused
        in other
        projects, saving costs in the long term. Finally, the customer gains real-world facility management data
        invaluable for
        further operations of this asset.</p>
</section>