<section class="blog blog-section introduction" id="how-bim-works1">
    {% include 'blog/components/author.html' %}
    <div class="introduction__description">
        <p>
            The Building Information Modeling or BIM process has been around since the
            1970s, but it became pervasive 15 or so years ago. With the evolution of
            cloud infrastructure and Сomputer-Aided Design &lpar;CAD&rpar;, the
            architecture, engineering, and construction &lpar;AEC&rpar; professionals
            saw considerable improvements in their project workflows.
        </p>
        <p>
            Today, the BIM design process is supported by government contracts and
            large AEC companies across the globe, which further spurs its
            industry-wide adoption. However, many AEC businesses still consider BIM
            modeling to be a tool for the rich only, which is not true.
        </p>
        <p>
            This article aims to have the BIM process explained, showcase how to speed
            up the BIM process in your company, and highlight potential roadblocks
            that negatively impact the BIM process.
        </p>
    </div>
</section>