<section class="blog blog-section" id="how-bim-works4">
    <h2 class="blog__title">Pros and cons of the BIM process</h2>
    <p>
        BIM tools make the information shared between different AEC stakeholders
        more uniform and easily accessible in the cloud and from mobile devices.
        They also allow real-time commenting and collaborating on the project. Let’s
        now list the benefits and hidden reefs of the BIM implementation process.
    </p>
    <h3 class="blog__item-title">BIM Pros&colon;</h3>
    <ul class="blog__list">
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Easier object planning and design.</span>
            With BIM, you can have a complete visualization of a future building or
            infrastructure object. You can see how its systems interact with each
            other long before dozers start clearing the construction site or tube
            fittings are fabricated at the factory.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Fewer clashes and reworks</span>

            By combining the blueprints and 3D models of yet-to-be-built systems, BIM
            highlights the clashes and allows resolving them. This is a guarantee
            against costly reworks during construction.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Lower expenses.</span>

            From calculating the exact quantity of construction materials needed and
            up to providing valuable data for future maintenance, BIM helps minimize
            project costs.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Prefab support.</span>
            BIM helps cut the project delivery times by 50&percnt; at least, as it combines
            prefabrication of structural components at the factory with final
            fabrication on the construction site.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Repeatability.</span>
            Great engineering decisions and 3D models of structural components form a
            library of ready solutions that can be easily reused in future projects.
        </li>
    </ul>

    <h3 class="blog__item-title">BIM Cons&colon;</h3>
    <ul class="blog__list">
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Incompatibility.</span>
            BIM software is not yet widespread, and there is always a chance some of
            your partners or subcontractors might not be able to use the BIM 3D models
            and documents provided. Well, this is easily solved by discussing the
            project in advance.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Licensing costs</span>
            BIM toolkit is quite expensive to run, as licensing can amount to more
            than &dollar;5,000 a year per user. However, this is an acceptable cost for
            saving thousands of dollars in reworks.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Lack of expertise.</span>
            While BIM models and documents are very easy to read, they are pretty hard
            to produce. There is a distinct lack of BIM expertise throughout the AEC
            industry, so building an in-house BIM team might be quite challenging.
            This is solved through outsourcing BIM tasks to a reliable partner &lpar;which
            also removes the need to pay the licensing fees&rpar;.
        </li>
    </ul>

    <p>
        As you can see, there are several important BIM advantages and only a few
        BIM shortcomings that can be quite easily overcome. Let’s now take a look at
        how BIM facilitates construction workflows.
    </p>
</section>