<section class="blog blog-section blog-section__bottom" id="how-bim-works5">
    <h2 class="blog__title">BIM usage by architecture, engineering, and construction teams</h2>
    <p>
        One of the key challenges of the AEC industry in the past was the need to inform all the parties involved about
        any
        roadblocks encountered at any stage of the process. As a result, too much time was lost.

    </p>
    <p>
        For example, on the construction site, a foreman could not have all the blueprints at hand at all times. If a
        question
        came up when he was on the 23rd floor of a building, he had to spend 20 minutes going back to the trailer to
        consult the
        drawings. Even worse, if there was an error in drawings or a clash between different systems, this could be
        resolved
        only by the design and engineering team, and the work on that task had to be halted till the updated blueprints
        arrived.

    </p>
    <p class="blog-section__description">
        BIM reduces toil and improves collaboration between all the AEC parties by providing centralized real-time cloud
        access
        to all the project drawings and documents.

    </p>
    <picture>
        <source srcset="
        ./images/blog/how-bim-works/usage-lg.webp    1x,
        ./images/blog/how-bim-works/usage-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/how-bim-works/usage-lg.jpg    1x,
        ./images/blog/how-bim-works/usage-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/how-bim-works/usage-sm.webp    1x,
        ./images/blog/how-bim-works/usage-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/how-bim-works/usage-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image" src="./images/blog/how-bim-works/usage-sm.jpg" alt="the working process" width="280"
            height="157" loading="lazy" />
    </picture>

    <p>
        Most importantly, if there is any update mid-project, the BIM team can quickly implement it, and the changes
        will
        instantly propagate through all the linked models. Thus, the project stakeholders, designers, architects, and
        engineering crews always have access to the common data environment, which greatly speeds up the BIM
        construction
        process.

    </p>


</section>