<section class="blog blog-section" id="how-bim-works2">
    <h2 class="blog__title">What is BIM&#63;</h2>
    <p class="blog-section__description">
        The Building Information Modeling process allows using intelligent 3D models to facilitate cooperation between
        stakeholders and all the parties involved in the design, fabrication, construction, and operation of buildings
        and other
        architectural objects. Through cost-efficient document coordination and management, as well as building of
        interactive
        simulations, BIM enables time-effective collaboration for AEC professionals, speeds up the project delivery, and
        reduces
        its maintenance costs.
    </p>
    <picture>
        <source srcset="
        ./images/blog/how-bim-works/what-lg.webp    1x,
        ./images/blog/how-bim-works/what-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/how-bim-works/what-lg.jpg    1x,
        ./images/blog/how-bim-works/what-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/how-bim-works/what-sm.webp    1x,
        ./images/blog/how-bim-works/what-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/how-bim-works/what-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image" src="./images/blog/how-bim-works/what-sm.jpg" alt="the working process" width="280"
            height="157" loading="lazy" />
    </picture>

    <p class="blog-section__description">
        But how does BIM work in real life, where does it start, and what are the stages involved?

    </p>
    <p>The process begins with the high-level planning of the upcoming construction or infrastructure object. The
        stakeholders
        describe what exactly has to be built, what systems there should be, and how they should interact with the
        existing
        real-world elements around them.
    </p>
    <p>For example, a building must include multiple components:</p>

    <ul class="blog__list">
        <li class="blog__item-arrow">
            Energy systems

        </li>
        <li class="blog__item-arrow">
            Plumbing
        </li>
        <li class="blog__item-arrow">
            Ventilation
        </li>
        <li class="blog__item-arrow">
            Heating and cooling
        </li>
        <li class="blog__item-arrow">
            Elevators
        </li>
        <li class="blog__item-arrow">
            (sometimes) Solar panel or wind turbine systems
        </li>
        <li class="blog__item-arrow">
            Security systems, etc.
        </li>

    </ul>

    <p>
        Each of these systems should be represented with a set of interconnected schemes and documents so that updates
        in one
        system design could be checked against other systems to avoid costly clashes during construction.

    </p>
    <p>
        Based on the input received and some 2D drawings and documents, the BIM specialists design architectural and
        structural
        models of the object. These 3D models provide an overview of how various object components interact with each
        other.
        This allows to quickly resolve any clashes. For example, it helps determine the best ways to position
        ventilation tubes
        and ensure the plumbing pipes don’t go through the walls or other structural elements.

    </p>
    <p>
        As a result of the BIM process, the customer receives a set of interactive 3D models and documents covering all
        the
        steps of constructing and operating the building, from factory fabrication of various elements to ongoing
        facility
        maintenance.

    </p>

</section>