<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />

  <link rel="canonical" href="https://www.powerkh.com/bim-prefabrication.html">
  <meta name="description"
    content="Powerkh - a trusted BIM for Prefabrication and Fabrication service provider. 10+ highly qualified BIM/VDC experts. Experience in prefabrication BIM services & design automation. Contact Us!">

  <!-- OGP -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.powerkh.com/bim-prefabrication.html">
  <meta property="og:image" content="./images/services/06-prefabrication/prefabrication-sm.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="380">
  <meta property="og:image:height" content="253">
  <meta property="og:site_name" content="">
  <meta property="og:title"
    content="BIM for Prefabrication and Fabrication Services [BIM for Prefab Construction Modularization] - Powerkh">
  <meta property="og:description"
    content="Powerkh - a trusted BIM for Prefabrication and Fabrication service provider. 10+ highly qualified BIM/VDC experts. Experience in prefabrication BIM services & design automation. Contact Us!">
  <!-- /OGP -->

  <link rel="stylesheet" href="css/services-page.css">
  <title>BIM for Prefabrication and Fabrication Services &lbrack;BIM for Prefab Construction Modularization&rbrack; | Powerkh</title>

  {% include 'google-tag-manager-head.html' %}
</head>

<body>
  {% include 'google-noscript-body.html' %}
  {% include 'header.html' %}
  <main>
    {% include 'contact-modal.html' %}
    {% block content %}
    {% include 'single-page-content/services/prefabrication/prefabrication.html' %}
    {% include 'sections/photoswipe.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-service-description.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-service-process.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-service-include.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-service-expectations.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-service-projects.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-services-contact.html' %}
    {% include 'single-page-content/services/prefabrication/prefabrication-faq.html' %}
    {% include 'sections/cases.html' %}
    {% include 'sections/faq-contact.html' %}
    {% endblock %}
  </main>
  {% include 'footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/modal.js"></script>
  <script src="./js/mail.js"></script>
  <script src="./js/form-validation.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./js/slick-slider.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
  <script src="./js/photoswipe.js"></script>
  <script src="./js/activeLink.js"></script>
  <script src="./js/hideCase.js"></script>
</body>

</html>