{% set page = articles[6] %} {% set service = services[0]%} {% extends
"layout.html" %} {% block content %} {% include 'blog/hero.html' %}

<div class="container">
  <div class="blog__content-wrapper">
    <aside class="sidebar blog-section">
      <div class="sidebar__wrapper">
        {% include 'blog/components/social-aside.html' %}
      </div>
    </aside>

    <div class="blog__content">
      {% include 'blog/best-bim-software-for-your-project/contents.html' %}
      {% include 'blog/best-bim-software-for-your-project/introduction.html' %}
      {% include 'blog/best-bim-software-for-your-project/bim-software.html' %}
      {% include 'blog/components/modeling-services.html' %}
      {% include 'blog/best-bim-software-for-your-project/which-bim-software-to-choose.html' %}
      {% include 'blog/components/case-studies.html' %}
      {% include 'blog/best-bim-software-for-your-project/best-bim-tools.html' %}
      {% include 'blog/components/subscription.html' %}
      {% include 'blog/best-bim-software-for-your-project/conclusion.html' %}
      {% include 'blog/blog-footer.html' %}
    </div>
    <aside class="sidebar blog-section">
      {% include 'blog/components/author.html' %}
      <div class="sidebar__wrapper">
        {% include 'blog/components/bim-aside-content.html' %}
      </div>
    </aside>
  </div>
</div>

{% include 'sections/faq-contact.html' %} {% include
'blog/components/cards-article.html' %} {% endblock %}