{% set page = articles[11] %} {% set service = services[0]%} {% extends
"layout.html" %} {% block content %} {% include 'blog/hero.html' %}

<div class="container">
  <div class="blog__content-wrapper">
    <aside class="sidebar blog-section">
      <div class="sidebar__wrapper">
        {% include 'blog/components/social-aside.html' %}
      </div>
    </aside>

    <div class="blog__content">
      {% include 'blog/how-to-hire-a-bimteam/contents.html' %} {% include
      'blog/how-to-hire-a-bimteam/main-content.html' %} {% include
      'blog/blog-footer.html'%}
    </div>
    <aside class="sidebar blog-section">
      {% include 'blog/components/author.html' %}
      <div class="sidebar__wrapper">
        {% include 'blog/components/bim-aside-content.html' %}
      </div>
    </aside>
  </div>
</div>

{% include 'sections/faq-contact.html' %} {% include
'blog/components/cards-article.html' %} {% endblock %}
