{% extends "layout.html" %} {% block content %}

<main class="main">
  {% include 'header.html' %}
  {% include 'sections/hero.html' %}
  {% include 'sections/services.html' %}
  {% include 'sections/workflow.html' %}
  {% include 'sections/works.html' %}
  {% include
  'sections/why.html' %}{% include 'sections/contact.html' %} {% include 'sections/clients.html' %}
  {% include 'sections/team.html' %} {% include
  'sections/contact-form.html' %} {% include 'sections/career.html' %} {% include 'footer.html' %}
  {% include 'modal.html' %} {% include 'team-modal.html' %} {% include 'sections/menu-burger.html'
  %}
</main>

{% endblock %}