{% set page = articles[9] %} {% set service = services[0]%} {% extends
"layout.html" %} {% block content %} {% include 'blog/hero.html' %}

<div class="container">
  <div class="blog__content-wrapper">
    <aside class="sidebar blog-section">
      <div class="sidebar__wrapper">
        {% include 'blog/components/social-aside.html' %}
      </div>
    </aside>

    <div class="blog__content">
      {% include 'blog/introduction-to-virtual-design/contents.html' %} {%
      include 'blog/introduction-to-virtual-design/vdc-introduction.html' %} {%
      include 'blog/introduction-to-virtual-design/what.html' %} {% include
      'blog/introduction-to-virtual-design/difference.html' %} {% include
      'blog/components/modeling-services.html' %} {% include
      'blog/introduction-to-virtual-design/how.html' %} {% include
      'blog/introduction-to-virtual-design/benefits.html' %} {% include
      'blog/components/subscription.html' %} {% include
      'blog/introduction-to-virtual-design/to-conclude.html' %} {% include
      'blog/blog-footer.html' %} {% include
      'blog/components/bim-aside-content.html' %}
    </div>
    <aside class="sidebar blog-section">
      {% include 'blog/components/author.html' %}
      <div class="sidebar__wrapper sidebar__right">
        {% include 'blog/components/bim-aside-content.html' %}
      </div>
    </aside>
  </div>
</div>
{% include 'sections/faq-contact.html' %} {% include
'blog/components/cards-article.html' %} {% endblock %}
