<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />

  <link rel="canonical" href="https://www.powerkh.com/wall-framing-design-case.html" />
  <meta name="description"
    content="Read the details of wall framing design automation case study where we were able to 3x design speed and 5x decrease cost due to BIM automation." />

  <!-- OGP -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.powerkh.com/wall-framing-design-case.html" />
  <meta property="og:image" content="./images/cases/wall-framing-case/wall-md.jpeg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="520" />
  <meta property="og:image:height" content="325" />
  <meta property="og:site_name" content="" />
  <meta property="og:title" content="Wall Framing Design Automation Case Study | Powerkh" />
  <meta property="og:description"
    content="Read the details of wall framing design automation case study where we were able to 3x design speed and 5x decrease cost due to BIM automation." />
  <!-- /OGP -->

  <link rel="stylesheet" href="css/cases-page.css" />
  <title>Wall Framing Design Automation Case Study | Powerkh</title>

  {% include 'google-tag-manager-head.html' %}
</head>

<body>
  {% include 'google-noscript-body.html' %}
  {% include 'header.html' %}
  <main>
    {% include 'contact-modal.html' %}
    {% block content %}
    {% include 'single-page-content/wall-framing-case/challenge.html' %}
    {% include 'single-page-content/wall-framing-case/process.html' %}
    {% include 'sections/photoswipe.html' %}
    {% include 'single-page-content/wall-framing-case/solution.html' %}
    {% include 'single-page-content/wall-framing-case/conclusion.html' %}
    {% include 'sections/case-contact-block.html' %}
    {% include 'sections/cases.html' %}
    {% endblock %}
  </main>
  {% include 'footer.html' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/modal.js"></script>
  <script src="./js/mail.js"></script>
  <script src="./js/form-validation.js"></script>
  <script src="./js/activeLink.js"></script>
  <script src="./js/hideCase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="./js/slick-slider.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
  <script src="./js/photoswipe.js"></script>
</body>

</html>