<section class="blog blog-section revit-templates" id="revit-productivity3">
  <h2 class="blog__title">Computational and generative design</h2>
  <picture>
    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design.webp    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design.jpg    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design-sm.webp    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/generative-design-md.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />
    <source
      srcset="./images/blog/enhancing-revit-productivity-in-bim/generative-design-md.jpg"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/enhancing-revit-productivity-in-bim/generative-design-sm.jpg"
      alt="Computational and generative design"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    BIM has made construction projects more efficient, but the current workflow
    still involves inefficiencies. Thankfully, you can fill most of these gaps
    with computational design.
  </p>
  <p>
    The computation-based approach relies on computational (calculation)
    processing and involves processing data about the project’s elements and
    their interaction with each other. This approach helps architects,
    designers, and construction workers in the following areas:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">Organize spaces and define the geometry</li>
    <li class="blog__item-arrow">Generate massive numbers of design options</li>
    <li class="blog__item-arrow">Evaluate and rank design variations</li>
    <li class="blog__item-arrow">
      Ensure compliance with local laws and regulations
    </li>
  </ul>
  <p>
    Moreover, computational tools aim to automate most of these processes with
    scripts and algorithms, making them faster, cheaper, and more accurate.
  </p>
  <p>
    The computational design involves various tools and frameworks. Some of the
    most popular concepts are:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Algorithmic design.</span> Computation
      allows professionals to create design options through procedural
      generation. In other words, the program will automatically create project
      geometry using algorithms based on user requirements.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Parametric modeling.</span> The
      parameter-based variable allows to quickly generate and modify the
      geometry by tweaking the parameters of the building’s elements.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Form-finding.</span> A technique used to
      make force-flow-optimized load-bearing designs to reduce material costs
      and improve a structure’s reliability.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Generative design.</span> This type of
      software can generate thousands of design options based on your input
      parameters and advanced algorithms. Afterward, these tools will analyze
      the results based on your metrics (costs, usable area, regulatory
      compliance, structural performance) and rank the best design options.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Evolutionary optimization.</span> An
      extension of generative design that merges the top-ranked results to
      generate even more advanced designs.
    </li>
  </ul>
  <p>
    A combination of these concepts makes the computational design even more
    valuable.
  </p>
  <p>
    Designers still have to rely on their experience and intuition, but
    computational technology can make the process more productive. Here are some
    of the design problems you can solve by adopting a computation-based
    approach:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Resource overuse.</span> Computational
      software can generate thousands of viable advanced designs in hours
      instead of weeks and help you evaluate them based on your specific
      requirements.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Design errors.</span> Most construction
      elements are interdependent—you have to update the whole project after
      making a single change. Parametric modeling allows you to quickly change
      the geometry of specific objects by tweaking the parameters without
      creating design clashes.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Expensive reworks.</span> Based on recent
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://scielo.conicyt.cl/pdf/rconst/v19n1/0718-915X-rconst-19-01-30.pdf"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >studies</a
      >, construction reworks eat up to 23% of the contract’s value, and
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://try.plangrid.com/construction-disconnected/?utm_campaign=8163"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >52% of rework</a
      >
      is caused partly by poor data quality. Computational design tools can
      reduce on-site reworks by providing accurate simulations and showing you
      which designs perform better.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Redundant manual processes.</span> A
      reputable digital design company can use custom scripts and transform
      time-consuming tasks into automated processes. For example, Dynamo and
      Revit software can generate a scaffolding system for your construction
      from your input data.
    </li>
  </ul>
  <p>
    A well-defined plan, an effective strategy, and computational tools can
    strengthen the creativity of architects and designers and fix time- and
    money-consuming issues you face in BIM projects.
  </p>
  <p>
    Now that the theory is out of the way, let’s look at how to apply these
    tools and practices to enhance the design process.
  </p>
</section>
