<section class="blog-section contents">
  <div class="contents__wrapper">
    <h2 class="blog__title contents__title">Contents</h2>
    <ul class="contents__list">
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#revit-productivity1"
          >BIM execution plan (BEP)</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#revit-productivity2"
          >Revit templates and modeling standards</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#revit-productivity3"
          >Computational and generative design</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#revit-productivity4"
          >How Powerkh helps improve productivity in BIM Projects</a
        >
      </li>
      <li class="contents__item">
        <a class="contents__link navigation__list-link" href="#revit-productivity5"
          >Conclusion</a
        >
      </li>
    </ul>
  </div>
</section>
