<section class="blog blog-section revit-templates" id="revit-productivity4">
  <h2 class="blog__title">How Powerkh helps improve productivity in BIM Projects</h2>
  <p>
    The following real-life projects illustrate how we use BEP, Revit templates,
    modeling standards, and computational-based tools to improve BIM
    productivity.
  </p>
  <h3 class="blog__item-title">Formwork design process</h3>
  <p>
    The client was a concrete subcontractor who relied on CAD for formwork
    design. This conventional approach included many non-value activities,
    manual work, time-consuming 2D coordination and bidding, which resulted in
    productivity bottlenecks. On top of that, the client was concerned about the
    large initial investments required for BIM technology.
  </p>
  <p>
    We analyzed the company’s design workflow, data management approach, and
    communication between teams. We then decided to develop Revit templates,
    modeling standards, and scripts tailored to the client’s BIM projects.
    Following that, we established a BEP that outlined key steps we should take
    to improve the formwork design process.
  </p>
  <p>
    Powerkh has converted over 100 CAD blocks into 30 parametric Revit families.
    We also automated many time-consuming tasks using Revit-Robot integration
    and over 12 Dynamo scripts. Then, the engineering team took over the design
    process and created over 100 successful projects. Meanwhile, we trained the
    client’s team to use new technologies.
  </p>
  <picture>
    <source srcset="./images/cases/formwork-case/formwork-md.gif" media="(min-width: 1200px)" type="image/gif" />
    <source srcset="./images/cases/formwork-case/formwork-md.gif" media="(min-width: 720px)" type="image/gif" />
    <img src="./images/cases/formwork-case/formwork-sm.gif" loading="lazy" alt="Formwork design automation example" />
  </picture>
  <p>
    The result? We eliminated over 80% of errors during the design process and
    reduced the labor costs by four times. More importantly, the client
    transformed its approach into an efficient formwork structural workflow that
    can be used as a basis for its BIM projects.
  </p>
  <p>
    In addition to subcontractors, Powerkh can also help manufacturers and
    design companies enhance their workflow in BIM projects. Let’s see how we
    did it.
  </p>
  <h3 class="blog__item-title">Prefabricated walls</h3>
  <p>
    Prefabricated (modular) elements allow companies to assemble structures in
    separate modules. This versatile approach can improve the project’s quality
    and reduce expenses. However, prefabrication relies on automation and
    accuracy to be effective.
  </p>
  <p>
    This client is a prefabricated interior and exterior wall panels
    manufacturer with an established BIM process. However, it still faced
    cost-efficiency and productivity issues.
  </p>
  <picture>
    <source srcset="./images/cases/wall-framing-case/wall-md.gif" media="(min-width: 1200px)" type="image/gif" />
    <source srcset="./images/cases/wall-framing-case/wall-md.gif" media="(min-width: 720px)" type="image/gif" />
    <img src="./images/cases/wall-framing-case/wall-sm.gif" loading="lazy"
      alt="Wall framing design automation exampl" />
  </picture>
  <p>
    Designing the prefabricated materials for walls involves connecting many
    interdependent parts made by contractors. These parts need to coordinate
    with other building elements. A single modification or mistake would mean
    the client had to redo the whole design, leading to significant delays and
    spendings.
  </p>
  <p>
    Powerkh analyzed the client’s design process and found issues in its
    approach. We then created Dynamo scripts that automate several
    time-consuming processes, enhance quality control, and remove unnecessary
    modeling elements.
  </p>
  <p>
    With our tools, the client could create accurate fabrication-level 3D files
    for walls and framings models for Computer-Aided Manufacturing (CAM)
    machines in minutes instead of hours. The improvements we brought eliminated
    90% of design errors and made the process five times cheaper. We also made
    the scripts and templates easily modifiable so that the client could use
    them across all its BIM projects.
  </p>
  <h3 class="blog__item-title">Complex ceilings design</h3>
  <p>
    The next client is an architectural design company that was already using
    BIM. Despite its considerable experience, the company faced many challenges
    during the design of drop ceilings with deck-suspended hangers.
  </p>
  <p>
    Drop ceiling systems consist of many interconnected elements (beams,
    hangers, connection clips). Even the slightest update can lead to a complete
    rework, but the client still had to rely on trial and error to get the
    framing right. Even worse, the manufacturer needed about a week to create
    every new model for the Revit, causing continuous delays that slowed the
    entire project down.
  </p>
  <p>
    After meticulous assessment and testing, our team differentiated between the
    processes that could be automated and those that required human control.
    Then, we built scripts for key subprocesses and took over the design
    process.
  </p>
  <picture>
    <source srcset="./images/cases/suspended-ceiling-case/ceiling-md.gif" media="(min-width: 1200px)"
      type="image/gif" />
    <source srcset="./images/cases/suspended-ceiling-case/ceiling-md.gif" media="(min-width: 720px)" type="image/gif" />
    <img class="image-center" src="./images/cases/suspended-ceiling-case/ceiling-sm.gif" loading="lazy"
      alt="Suspend ceiling design automation example" />
  </picture>
  <p>
    Our solutions eliminated over 90% of potential errors and allowed the client
    to remove the manufacturer from the workflow. As a result, we reduced the
    time needed to create a drop ceiling by 80% and made the design process ten
    times cheaper.
  </p>
</section>