<section class="blog blog-section introduction">
  {% include 'blog/components/author.html' %}
  <div class="introduction__description">
    <p>
      Construction design hasn’t changed much in the last fifty years, but the
      tools of the trade have evolved massively. The industry is moving on from
      the traditional trial-and-error approach towards building information
      modeling (BIM) and CD computational design (CD).
    </p>
    <picture>
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design.webp    1x,
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design@2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design.jpg    1x,
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design@2x.jpg 2x
        "
        media="(min-width: 375px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design-sm.webp 1x,
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design-md.webp 2x
        "
        media="(max-width: 374px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/historical-design-md.jpg
        "
        media="(max-width: 374px)"
        type="image/jpeg"
      />

      <img
        class="blog__image"
        src="./images/blog/enhancing-revit-productivity-in-bim/historical-design-sm.jpg"
        alt="historical design"
        width="280"
        height="158"
        loading="lazy"
      />
    </picture>
    <p>
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://www.powerkh.com/how-bim-works.html"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >BIM is an intelligent process of managing construction projects</a
      >
      with interactive 3D-based databases containing digital descriptions for
      every object. BIM technology allows architects, designers, and engineers
      to manage and collaborate more effectively during a project’s lifecycle.
      In addition,
      <a
        href="https://www.powerkh.com/choosing-best-bim-software-for-your-project-in-2021.html"
        class="blog__text-link blog__text-underline blog__text-cursive"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >BIM software</a
      >
      can help your teams reduce design errors and stay within budget.
    </p>
    <picture>
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design.webp    1x,
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design@2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design.jpg    1x,
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design@2x.jpg 2x
        "
        media="(min-width: 375px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design-sm.webp 1x,
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design-md.webp 2x
        "
        media="(max-width: 374px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/enhancing-revit-productivity-in-bim/modern-design-md.jpg
        "
        media="(max-width: 374px)"
        type="image/jpeg"
      />

      <img
        class="blog__image"
        src="./images/blog/enhancing-revit-productivity-in-bim/modern-design-sm.jpg"
        alt="modern design"
        width="280"
        height="158"
        loading="lazy"
      />
    </picture>
    <p>
      In terms of software, Autodesk Revit is by far the most popular design
      tool in architecture, engineering, and construction (AEC),
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://architecturaltechnology.com/uploads/assets/3f388415-32f9-408d-85cc2c1adf13d012/TheNBSBIMReport2020.pdf"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >used by over half of the industry’s professionals.</a
      >
    </p>
    <p>
      Now, how do you make your entire team collaborate effectively in BIM? In
      this article, we want to share useful practices to help you ensure
      long-term productivity in Revit. We’ll also show you how we use these
      ideas to improve our clients’ efficiency in their BIM projects.
    </p>
  </div>
</section>
