<section class="blog blog-section revit-templates" id="revit-productivity2">
  <h2 class="blog__title">Revit templates and modeling standards</h2>
  <p>
    Designers and engineers often face similar challenges in multiple projects.
    This is most often due to a lack of consistency and a tight schedule.
    However, all companies can overcome these problems by implementing Revit
    templates and BIM standards.
  </p>
  <p>
    The quality of your templates is often closely linked with your
    productivity. Revit templates provide pre-formatted standards for all your
    new models, which can provide consistency across all projects. Besides,
    templates can help your team save time because they don’t have to tamper
    with settings for every model.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points.webp    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points.jpg    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points-sm.webp    1x,
        ./images/blog/enhancing-revit-productivity-in-bim/main-revit-points-md.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />
    <source
      srcset="./images/blog/enhancing-revit-productivity-in-bim/main-revit-points-md.jpg"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/enhancing-revit-productivity-in-bim/main-revit-points-sm.jpg"
      alt="Main revit points"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    When creating templates for your projects, you should consider the following
    points:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      Naming standards & title blocks for families, views, materials, and other
      elements
    </li>
    <li class="blog__item-arrow">
      Designated locations for storing custom families
    </li>
    <li class="blog__item-arrow">
      Annotation families that will load with the model
    </li>
    <li class="blog__item-arrow">
      View types to help you organize and classify construction plans
    </li>
    <li class="blog__item-arrow">Frequently used view filters</li>
    <li class="blog__item-arrow">Empty schedules with required parameters</li>
    <li class="blog__item-arrow">
      Modifiable sets of sheets with adjustable views and schedules
    </li>
    <li class="blog__item-arrow">
      Family content with type marks and element parameters
    </li>
    <li class="blog__item-arrow">
      Placeholder links for models that will be linked together
    </li>
    <li class="blog__item-arrow">Common materials library</li>
    <li class="blog__item-arrow">
      Shared project or family parameters for new models
    </li>
    <li class="blog__item-arrow">
      Object styles and line weights to see how elements will look in comparison
    </li>
    <li class="blog__item-arrow">
      Line styles for different use cases in the project
    </li>
  </ul>
  <p>
    Establishing BIM modeling rules and guidelines can take your Revit templates
    to a new level, further reducing the errors and rework during the project’s
    lifecycle. As you develop modeling standards, you need to consider the
    following aspects:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Management.</span> Define frequencies for
      your audits, compressions, model purges, and reviews. Additionally, you
      need to establish design setup options and use cases, browser
      organization, as well as policies for collaborating with entities outside
      your company.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Modeling.</span> Consider conditions for
      constraints and pins for certain elements, use cases for drafting, and
      model lines. In addition, you should set up view types, classification
      systems, grouping, and other unification methods for your projects.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Supplementary workflows.</span> Outline
      protocols for additional Revit workflows. You should ensure consistency
      for data insertion or export to CAD or Navisworks. On top of that, define
      how your team should react to technical difficulties.
    </li>
  </ul>
  <p>
    Adapting to a set of BIM standards can be challenging for new team members.
    However, you can make your standards system easily accessible with these
    tips:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      When creating standards, focus on the productivity and quick onboarding
      for new employees
    </li>
    <li class="blog__item-arrow">
      Ensure consistent formatting for guidelines and requirement manuals
    </li>
    <li class="blog__item-arrow">
      Make the documents easily accessible and format them in a PDF format
    </li>
    <li class="blog__item-arrow">Add a hyperlinked index</li>
    <li class="blog__item-arrow">Introduce tags for your files</li>
    <li class="blog__item-arrow">
      Include graphical examples wherever possible
    </li>
    <li class="blog__item-arrow">
      Distinguish between optional guidelines and mandatory requirements
    </li>
    <li class="blog__item-arrow">
      Track changes and revisions for every document
    </li>
  </ul>
  <p>
    Most importantly, you need to keep your BIM standards system aligned with
    the organization’s goals and objectives.
  </p>
  <p>
    Now that you’ve standardized your BIM workflow and Revit productivity let’s
    see how you can improve your design with a computation-based approach.
  </p>
</section>
