<section class="services-contact">
  <div class="services-contact__block">
    <h2 class="services-contact__title subscription">
      Never miss a new blog post from us!
    </h2>
    <form class="contact-form subscribe-form" id="subscribeForm">
      <input
        class="subscribe-form__field"
        type="email"
        name="email"
        placeholder="Your Email"
      />
      <button class="contact-btn subscribe-form__btn" type="submit">
        subscribe today
      </button>
    </form>
  </div>
</section>
