@import './contact-btn';

.faq__contact {
  & > .container {
    padding-top: 16px;
  }

  &-block {
    padding: 50px 20px;

    text-align: center;

    background-color: $bg-color-grey;
  }

  &-title {
    max-width: 560px;
    margin: 0 auto 40px;

    font-family: $secondary-font;
    @include font(20px, 700, 22px);
    color: $main-color;
    // text-transform: uppercase;
  }
}

@include mq('tablet') {
  .faq__contact {
    & > .container {
      padding-bottom: 58px;
    }

    &-block {
      padding: 40px 20px;
    }
  }
}
