<section class="blog blog-section" id="asbuilt-vdc1">
  <picture>
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-1.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-1@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-1.jpg    1x,
        ./images/blog/as-built-drawings-101/asbuilt-1@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-1sm.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-1sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/as-built-drawings-101/asbuilt-1sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/as-built-drawings-101/asbuilt-1sm.jpg"
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p id="asbuilt-vdc2">
    As-built plans are an essential component of construction documentation,
    especially in terms of post-construction management. Even so, many
    contractors prefer dealing with construction as-builts at the very end of
    the development process, if at all. Learn why doing so is risky, why
    as-built documentationis important, and how to make as-built drawings work
    for you.
  </p>
  <h2 class="blog__title" id="asbuilt-vdc3">What Are As-Builts?</h2>
  <p>
    As an Architecture, Engineering, and Construction (AEC) professional, you
    surely know what as-builts are.
  </p>
  <p>
    Based on the
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="http://www.businessdictionary.com/definition/as-built-drawings.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >BusinessDictionary</a
    >
    definition,as-built drawings are a revised set of construction plans
    reflecting all the changes made during the completion of a project. They
    show the exact measurements and positions for all of the adjustments made to
    the original plans during construction for the building and surrounding
    land.
  </p>
  <p>
    The primary reason for creating these documents is to provide a detailed
    overview of the actual state of every installation to enable its safe and
    efficient management.
  </p>
  <h2 class="blog__title" id="asbuilt-vdc4">
    Why as-built documentation is important
  </h2>
  <p>
    AEC experts know that not a single project has ever been completed exactly
    as it was planned. There always are adjustments to be made, especially in
    terms of connecting the new structure to the underground infrastructure.
    Other reasons for initial design updates might include a redesign after an
    ownership change or a change in the building’s use. Having an
    <span class="blog__text-strong">as-built construction </span> plan helps
    minimize the expense of the facility’s architectural evaluation during a
    renovation.
  </p>
  <p>
    In many cases, the expertise behind a project is lost soon after the
    completion. Companies undergo mergers and acquisitions, people switch jobs,
    and long-term employees retire. Thus, having a record of all the changes
    made during construction provides an invaluable tool for the facilities team
    that performs maintenance on the building.
  </p>
  <p>
    This is especially true regarding the operations of systems concealed within
    the walls. Knowing the exact location of a module, pipe, or wire is
    essential for quick repairs with minimum costs, performing maintenance
    without disrupting normal operations more than necessary, or endangering the
    structural integrity of the building.
  </p>
  <p>
    There are two important aspects that you should keep in mind about
    as-builts:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      They are required for many government-issued and enterprise-grade
      construction projects.
    </li>
    <li class="blog__item-arrow">
      They show your clients that you are a responsible and trustworthy
      developer. By having detailed as-built drawings in place, you demonstrate
      that you care what happens to the building after construction is complete.
    </li>
  </ul>
  <p>
    Redlining every change and update to the original construction plans is
    tedious, time-consuming, and requires a lot of work. You need to update all
    the plans and designs simultaneously for all the project stakeholders,
    <span class="blog__text-strong">meaning </span> the immense increase in
    workload.
  </p>
  <p>
    Even so, it’s essential to do this at every stage of construction, rather
    than to try to remember every change and adjustment at the end of the
    project.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-2.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-2@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-2.jpg    1x,
        ./images/blog/as-built-drawings-101/asbuilt-2@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-2sm.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-2sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/as-built-drawings-101/asbuilt-2sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/as-built-drawings-101/asbuilt-2sm.jpg"
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    Let’s take a look at what you should pay attention to while preparing
    <span class="blog__text-strong">as-built plans </span>.
  </p>
  {% include 'blog/components/modeling-services.html' %}
  <h2 class="blog__title" id="asbuilt-vdc5">
    What has to be included in as-built plans
  </h2>
  <p>There are several important considerations to keep in mind:</p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      All blueprint changes must precisely depict the real-world adjustments
      made, with a legend of reasons for each.
    </li>
    <li class="blog__item-arrow">
      The scale must be consistent throughout the whole set of drawings.
    </li>
    <li class="blog__item-arrow">
      As-builts must reflect every update in construction materials, component
      locations, equipment installation (windows, doors, HVAC, power cables,
      water, heating, sewers, and more), and module fabrication.
    </li>
    <li class="blog__item-arrow">
      If any unforeseen complication had appeared,
      <span class="blog__text-strong">as-built drawings </span> must cover why
      it had occurred and how it had been addressed.
    </li>
    <li class="blog__item-arrow">
      A precise timeline of all changes must be kept to ensure consistency of
      records for all the project stakeholder teams.
    </li>
    <li class="blog__item-arrow">
      If the final inspection results in some adjustments, they also have to be
      included within as-builts along with all the appendices and shop drawings.
    </li>
  </ul>
  <picture>
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-3.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-3@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-3.jpg    1x,
        ./images/blog/as-built-drawings-101/asbuilt-3@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-3sm.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-3sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/as-built-drawings-101/asbuilt-3sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/as-built-drawings-101/asbuilt-3sm.jpg"
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    With the key aspects of the
    <span class="blog__text-strong">as-built drawings procedure </span> covered,
    we will now show the main components of such plans.
  </p>
  <h2 class="blog__title" id="asbuilt-vdc6">Components of as-built drawings</h2>
  <p>
    While a pencil, eraser, and a ton of handwriting used to be required to
    produce a complete set of
    <span class="blog__text-strong">as-built plans </span> , modern technology
    provides much more convenient tools.
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <p>
        <span class="blog__text-strong">Point cloud data</span>.
        <a
          class="blog__text-link blog__text-underline blog__text-cursive"
          href="https://www.powerkh.com/the-benefits-of-using-laser-scanning-in-construction-you-cant-miss.html"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Laser scanning</a
        >
        measures the location and distance between millions of points in a
        360-degree space. This raw data can then be processed by specific
        software and automatically transformed into sets of drawings for your
        team to use.
      </p>
      <p class="blog__text-strong" style="line-height: 1.43">
        Comparing point cloud data with as-designed elements helps produce
        precise as-built plans. Specialized software like
        <a
          class="blog__text-link blog__text-cursive"
          href="https://www.youtube.com/watch?v=PcjXsfcZP4E&ab_channel=ClearEdge3D"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >VERITY</a
        >
        allows performing 100% solid-to-solid element comparison in the time it
        currently takes to spot-check 5% of them. It correlates the design
        elements with point cloud data and highlights them in red, green, or
        yellow. The elements highlighted in red are the discrepancies between
        the real-life objects and models, which should be inspected on the
        construction site.
      </p>
      <p class="blog__text-strong" style="line-height: 1.43">
        This approach results in reduced risk or costly errors, more accurate
        as-built documentation, and fewer construction schedule delays.
      </p>
    </li>
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-strong"
        href="https://www.powerkh.com/bim-modeling.html"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >BIM modeling</a
      >. By consolidating project updates within a centralized system, BIM
      creates interactive 3D models and drawings that are consistent for all the
      project stakeholders. This enables AEC specialists to speed up the design
      and development of buildings, reduces costs, and minimizes the number of
      mistakes made.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Connected data </span> . Storing important
      blueprints in a briefcase or a safe just doesn't cut it in the 21st
      century. To be cost-efficient and competitive, the developer must employ a
      connected system, where all measurements done by mobile devices are
      immediately reflected and retained in cloud-based data storage banks.
    </li>
  </ul>
  <p>
    Using the latest technology ensures that no important data falls through the
    cracks. It also guarantees that all adjustments propagate through all the
    drawings immediately. This way, all construction project stakeholders have
    access to the latest and most accurate representation of the drawings at all
    times.
  </p>
  <p>
    But <span class="blog__text-strong">how to do as-built drawing </span>
    correctly?
  </p>
  {% include 'blog/components/case-studies.html' %}
  <h2 class="blog__title" id="asbuilt-vdc7">
    How to Do As-Built Drawings Right
  </h2>
  <p>
    A procedure must be outlined in advance to ensure as-built plans are
    prepared consistently, seamlessly, and cost-effectively. It should cover all
    <span class="blog__text-strong">as-built drawings requirements </span> and
    detail the process of recording every change made in the field or the
    drawing shop.
  </p>
  <p>
    This is impossible to do without introducing a straightforward data
    collection procedure. Whenever a team member makes any adjustment, they
    should input the data into your primary document management system to be
    captured and considered. While halting work to record a change might not
    seem like the best decision, trying to recall all the slight adjustments
    made over several months afterward is definitely a waste of breath.
  </p>
  <p>
    As long as many contractors neglect collecting data mid-work, it results in
    passing on a disorganized mess of red-inked drawings for future managers to
    dig through. This greatly diminishes the customer’s experience and reflects
    poorly on the developer’s image.
  </p>
  <p>
    To do things right, the project administrator should introduce a procedure
    called an <span class="blog__text-strong">as-built survey </span> .
    Following this procedure allows stakeholders to accurately track all the
    changes made during each construction phase. This record of updates forms a
    so-called <span class="blog__text-strong">as-built map </span> , which
    provides a wealth of details for preparing the final drawings of the ready
    object.
  </p>
  <h2 class="blog__title" id="asbuilt-vdc8">Examples of as-built plans</h2>
  <p>
    There are various kinds of details that should be included in a set of
    <span class="blog__text-strong">as-built drawings </span>:
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-4.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-4@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-4.jpg    1x,
        ./images/blog/as-built-drawings-101/asbuilt-4@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/as-built-drawings-101/asbuilt-4sm.webp    1x,
        ./images/blog/as-built-drawings-101/asbuilt-4sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/as-built-drawings-101/asbuilt-4sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/as-built-drawings-101/asbuilt-4sm.jpg"
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <p>
    Every item reallocation, addition, or removal must be highlighted in color.
    You must provide a time-stamp for the change and the reason behind it. It
    might be a request from the customer or an unexpected issue you have to deal
    with. Once your contractors learn to follow this pretty simple method, they
    will be able to produce and record invaluable information during
    construction.
  </p>
  <p>
    It’s recommended to perform periodic construction site checks to ensure that
    all changes made since the last inspection are accurately reflected in the
    latest set of drawings. This helps immensely in preparing the record
    drawings, which the lead architect should sign, stamp and pass on to the
    maintenance team tasked with managing and running the building in the
    future.
  </p>
  {% include 'blog/components/subscription.html' %}
  <h2 class="blog__title" id="asbuilt-vdc9">Cost</h2>
  <p>
    It isn't easy to estimate the actual cost of preparing as-built drawings.
    The pricing depends heavily on the project's scope, the volume of the point
    cloud measurements to be made, the complexity of the systems installed, and
    more. This could add up to a considerable amount of money, but mind that
    most governmental and enterprise-scale contracts require these drawings.
  </p>
  <p>
    Many developers prefer to outsource this job to reduce the total
    <span class="blog__text-strong">as-built drawings cost </span> . To this
    end, Powerkh can deliver detailed, precise, and in-depth
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.powerkh.com/scan-to-bim.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >as-built documentation</a
    >
    preparation. We can quickly process the point cloud data provided and
    integrate it with your existing designs to accurately represent the way the
    structures are actually built.
  </p>
  <h2 class="blog__title" id="asbuilt-vdc10">Conclusion</h2>
  <p>
    <span class="blog__text-strong">As-built plans </span> form a valuable part
    of architectural documentation, as they represent the evolution from the
    original designs to the final construction results. While many projects
    don’t require preparing this kind of drawing, the most prominent (and
    lucrative) ones do. You need to prove your ability to prepare
    <span class="blog__text-strong">as-built drawings </span> if you want to
    improve your company’s professional image to get enterprise projects or land
    a governmental contract.
  </p>
  <p>
    Should you have any more questions on
    <span class="blog__text-strong">how to make as-built drawings </span> work
    for your project or need any assistance with delivering them — do not
    hesitate to
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.powerkh.com/contacts.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >contact Powerkh!</a
    >
  </p>
</section>
