<section class="case">
  <div class="container">
    <a href="./case-studies.html" class="case__headline">
      <svg class="case__headline-icon">
        <use href="./images/sprite.svg#logo-part"></use></svg
      >/Case Studies
    </a>

    <h1 class="case__title">Formwork design automation</h1>

    <div class="challenge__wrapper">
      <div class="challenge__content">
        <h2 class="challenge__title">Client</h2>
        <p class="challenge__desc">
          Our client is a concrete subcontractor from California, USA
        </p>

        <h2 class="challenge__title">Challenge</h2>
        <p class="challenge__desc challenge__desc--formwork">
          Our client had to deal with an inefficient formwork design process.
          They utilized CAD technology as the main design tool.
        </p>
        <p class="challenge__desc challenge__desc--formwork">
          The key challenges were as follows:
        </p>
        <ol class="challenge__list">
          <li class="challenge__item">Manually updated design</li>
          <li class="challenge__item">
            Too much manual work with shoring calculations and BOM generation
          </li>
          <li class="challenge__item">
            Time-consuming 2D coordination and design QC
          </li>
        </ol>
      </div>

      <div class="challenge-img challenge-img--ceiling">
        <div id="js-slider">
          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="solution__image"
                  href="./images/cases/formwork-case/f1-lg.jpg"
                  data-size="2200x1200"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/formwork-case/f1-md.jpg"
                    loading="lazy"
                    alt="Formwork design automatio example"
                  />
                </a>
              </figure>
            </div>
          </div>

          <div class="slider-slick__item">
            <div
              class="challenge-img__item solution__item item-block my-gallery"
              itemscope
              itemtype="http://schema.org/ImageGallery"
            >
              <figure
                class="solution__figure"
                itemprop="associatedMedia"
                itemscope
                itemtype="http://schema.org/ImageObject"
              >
                <a
                  class="solution__image"
                  href="./images/cases/formwork-case/f2-lg.jpg"
                  data-size="2200x1200"
                  itemprop="contentUrl"
                >
                  <img
                    src="./images/cases/formwork-case/f2-md.jpg"
                    loading="lazy"
                    alt="Formwork design automatio example"
                  />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
