<section class="conclusion">
  <div class="container">
    <h2 class="conclusion__title">Impact on business</h2>
    <div class="conclusion__content">

      <p class="conclusion__text">The implementation of the BIM process and design automation helped us achieve the
        following:</p>

      <div class="progress">
        <div class="progress__numbers">
          <div class="progress__index">
            <span data-target="80">80</span>
            <span>&percnt;</span></div>
          <div class="progress__index">
            <span data-target="2">2</span>
            <span>x</span></div>
          <div class="progress__index">
            <span data-target="4">4</span>
            <span>x</span></div>
        </div>

        <div class="progress__desk">
          <p class="progress__text">of design errors were fixed</p>
          <p class="progress__text">increase in design speed</p>
          <p class="progress__text">cheaper design due to BIM automation and lower labor costs</p>
        </div>
      </div>

    </div>
  </div>
</section>