<section class="process">
  <div class="container">
    <h2 class="process__title">Process</h2>

    <ul class="process__list">
      <li class="process__item">
        <h3 class="process__caption audit-icon">Audit</h3>
        <p class="process__text">We analyzed the company’s design process and suggested switching their projects to BIM.
        </p>
      </li>

      <li class="process__item">
        <h3 class="process__caption design-icon">Design</h3>
        <p class="process__text">Our team converted 100+ CAD blocks into 30 parametric families, as well as created
          Revit templates.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption test-icon">Test</h3>
        <p class="process__text">Having tested the formwork BIM design process, we found a number of issues to fix and
          identified routine tasks that could be automated.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption refine-icon">Refine</h3>
        <p class="process__text">We developed 12 Dynamo scripts for the most time-consuming tasks and created a formwork
          structural analysis workflow using Revit-Robot integration and Dynamo scripts.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption maintain-icon">Maintain</h3>
        <p class="process__text">Our engineering team took over the formwork design process and successfully completed
          100+ projects, constantly improving the process.</p>
      </li>
    </ul>
  </div>
</section>