<section class="studies">
  <div class="container">
    <h1 class="studies__title">Case Studies</h1>

    <div class="studies__slider" id="js-slider">
      <div class="slider-slick__item">
        <div class="studies__content">
          <div class="studies__side">
            <div class="studies__image-wrapper">
              <a href="./formwork-design-case.html">
                <picture class="studies__image case-studies__image">
                  <source srcset="./images/cases/formwork-case/formwork-md.webp" media="(min-width: 720px)"
                    type="image/webp" />
                  <source srcset="./images/cases/formwork-case/formwork-md.jpeg" media="(min-width: 720px)"
                    type="image/jpeg" />
                  <source srcset="./images/cases/formwork-case/f3-sm.webp" media="(max-width: 719px)"
                    type="image/webp" />
                  <img src="./images/cases/formwork-case/f3-sm.jpeg" width="516" height="322" loading="lazy"
                    alt="Formwork design automation example" />
                </picture>
              </a>
            </div>
          </div>
          <div class="studies__side modeling">
            <p class="modeling__category">Formwork design automation</p>
            <h2 class="modeling__title">FORMWORK DESIGN AUTOMATION</h2>
            <p class="modeling__location">California, USA</p>
            <p class="modeling__desc">
              Our team analyzed the client’s formwork design process and
              suggested a range of improvements that made it faster and more
              efficient. As a result, the client got a robust BIM-based design
              workflow with automated routines and effective Revit templates.
            </p>

            <a class="modeling__link" href="./formwork-design-case.html">
              <svg class="modeling__link-icon">
                <use href="./images/sprite.svg#eye"></use>
              </svg>
              See project
            </a>
          </div>
        </div>
      </div>

      <div class="slider-slick__item">
        <div class="studies__content">
          <div class="studies__side">
            <div class="studies__image-wrapper">
              <a href="./suspended-ceiling-case.html">
                <picture class="studies__image case-studies__image">
                  <source srcset="
                      ./images/cases/suspended-ceiling-case/ceiling-md.webp
                    " media="(min-width: 720px)" type="image/webp" />
                  <source srcset="
                      ./images/cases/suspended-ceiling-case/ceiling-md.jpeg
                    " media="(min-width: 720px)" type="image/jpeg" />
                  <source srcset="./images/cases/suspended-ceiling-case/c5-sm.webp" media="(max-width: 719px)"
                    type="image/webp" />
                  <img src="./images/cases/suspended-ceiling-case/c5-sm.jpeg" width="516" height="322" loading="lazy"
                    alt="Suspend ceiling design automation example" />
                </picture>
              </a>
            </div>
          </div>
          <div class="studies__side modeling">
            <p class="modeling__category">Suspend ceiling design automation</p>
            <h2 class="modeling__title">SUSPENDED CEILING DESIGN AUTOMATION</h2>
            <p class="modeling__location">New York, USA</p>
            <p class="modeling__desc">
              The client’s key issue was delivery time: it took too much time
              and effort to design a drop ceiling system and update it when
              needed. With Dynamo scripts, we automated every subprocess,
              speeding up the delivery period and keeping the costs low.
            </p>

            <a class="modeling__link" href="./suspended-ceiling-case.html">
              <svg class="modeling__link-icon">
                <use href="./images/sprite.svg#eye"></use>
              </svg>
              See project
            </a>
          </div>
        </div>
      </div>

      <!-- <div class="slider-slick__item">
        <div class="studies__content">
          <div class="studies__side">
            <div class="studies__image-wrapper">
              <a href="./floor-assembly-case.html">
                <picture
                  class="studies__image studies__image--border case-studies__image"
                >
                  <source
                    srcset="./images/cases/floor-assembly-case/floor-md.webp"
                    media="(min-width: 720px)"
                    type="image/webp"
                  />
                  <source
                    srcset="./images/cases/floor-assembly-case/floor-md.jpeg"
                    media="(min-width: 720px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="./images/cases/floor-assembly-case/fa3-sm.webp"
                    media="(max-width: 719px)"
                    type="image/webp"
                  />
                  <img
                    src="./images/cases/floor-assembly-case/fa3-sm.jpeg"
                    width="516"
                    height="322"
                    loading="lazy"
                    alt="Floor assembly design automation example"
                  />
                </picture>
              </a>
            </div>
          </div>
          <div class="studies__side modeling">
            <p class="modeling__category">Floor assembly design automation</p>
            <h2 class="modeling__title">FLOOR ASSEMBLY DESIGN AUTOMATION</h2>
            <p class="modeling__location">New York, USA</p>
            <p class="modeling__desc">
              The client struggled with a time-consuming workflow of floor
              assembly design. Our team implemented Dynamo scripts to speed up
              every subprocess and do quality control. In the end, the client
              got a smooth workflow and an efficient, error-free design process.
            </p>

            <a class="modeling__link" href="./floor-assembly-case.html">
              <svg class="modeling__link-icon">
                <use href="./images/sprite.svg#eye"></use>
              </svg>
              See project
            </a>
          </div>
        </div>
      </div> -->

      <div class="slider-slick__item">
        <div class="studies__content">
          <div class="studies__side">
            <div class="studies__image-wrapper">
              <a href="./wall-framing-design-case.html">
                <picture class="studies__image case-studies__image">
                  <source srcset="./images/cases/wall-framing-case/wall-md.webp" media="(min-width: 720px)"
                    type="image/webp" />
                  <source srcset="./images/cases/wall-framing-case/wall-md.jpeg" media="(min-width: 720px)"
                    type="image/jpeg" />
                  <source srcset="./images/cases/wall-framing-case/w3-sm.webp" media="(max-width: 719px)"
                    type="image/webp" />
                  <img src="./images/cases/wall-framing-case/w3-sm.jpeg" loading="lazy"
                    alt="Wall framing design automation example" width="516" height="322" />
                </picture>
              </a>
            </div>
          </div>
          <div class="studies__side modeling">
            <p class="modeling__category">Wall framing design automation</p>
            <h2 class="modeling__title">WALL FRAMING DESIGN AUTOMATION</h2>
            <p class="modeling__location">California, USA</p>
            <p class="modeling__desc">
              A too long delivery time was one of the client’s worst pain
              points. Using Dynamo scripts, we cut down significantly on the
              time needed to design a wall framing system. Now, the client can
              get an easily adjustable, high-quality model within the shortest
              period and at a much lower cost.
            </p>

            <a class="modeling__link" href="./wall-framing-design-case.html">
              <svg class="modeling__link-icon">
                <use href="./images/sprite.svg#eye"></use>
              </svg>
              See project
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>