<section class="section career" id="career">
  <div class="container career-cont">
    <h2 class="title career-cont__title">Career</h2>
    <p class="career-cont__descr">
      Send your resume and portfolio to
      <a class="career-cont__link" href="mailto:info@jazzrender.com">info@jazzrender.com</a>
    </p>
    <p>
      We’re always looking for new talents to make us better. <br />
      If you’re a 3D Artist and if you’re passionate about what you do, <br />
      wellcome aboard! Build your stunning career whith us!
    </p>
    <a class="btn btn--default career-cont__btn" href="mailto:info@jazzrender.com">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%" />
      </svg>
      Send CV
    </a>
  </div>
</section>