<section class="section clients">
  <div class="container">
    <h2 class="title">Clients</h2>

    <div class="clients-list" data-clients-slider>
      <div class="clients-list__item">
        <div class="clients-list__img edsa">
          <img src="./assets/images/clients/edsa.svg" alt="edsa logo" width="52" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img wpa">
          <img src="./assets/images/clients/wpa.svg" alt="wpa logo" width="116" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img pp">
          <img src="./assets/images/clients/p&p.svg" alt="p&p logo" width="50" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img wdg">
          <img src="./assets/images/clients/wdg.svg" alt="wdg logo" width="149" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img a1">
          <img src="./assets/images/clients/a1.svg" alt="a1 logo" width="59" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img stk">
          <img src="./assets/images/clients/stk.svg" alt="stk logo" width="115" />
        </div>
      </div>

      <div class="clients-list__item">
        <div class="clients-list__img powerkh">
          <img src="./assets/images/clients/powerkh.svg" alt="powerkh logo" width="46" />
        </div>
      </div>
    </div>
  </div>
</section>
