<section class="faq" itemscope itemtype="https://schema.org/FAQPage">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">FAQ</h2>
      <ul class="faq__list">
        <li class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <input class="faq__item-input" type="checkbox" id="faq-1">
          <label class="faq__item-question" for="faq-1" itemprop="name">How fast can I get a fully-realized BIM model?</label>
          <div class="faq__item-text" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p class="faq__item-answer" itemprop="text">Our delivery time depends on the project’s complexity &lpar;LOD&rpar;, your
              standards, techniques, and the documentation we receive. Nonetheless, our team has extensive knowledge
              of BIM modeling software and can build an interactive model in the fastest possible time.</p>
          </div>
        </li>
        <li class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <input class="faq__item-input" type="checkbox" id="faq-2">
          <label class="faq__item-question" for="faq-2" itemprop="name">Can you provide estimates for BIM modeling services?</label>
          <div class="faq__item-text" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p class="faq__item-answer" itemprop="text">We will provide a free quote based on the approved price. Furthermore, we will
              charge only after completing our work. The estimates are based on the hourly fee.</p>
          </div>
        </li>
        <li class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <input class="faq__item-input" type="checkbox" id="faq-3">
          <label class="faq__item-question" for="faq-3" itemprop="name">Do you work in metric or imperial units?</label>
          <div class="faq__item-text" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p class="faq__item-answer" itemprop="text">We prefer modeling in the imperial system because most of our client base is
              from the US. We can also use a metric system of measurement.</p>
          </div>
        </li>
        <li class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <input class="faq__item-input" type="checkbox" id="faq-4">
          <label class="faq__item-question" for="faq-4" itemprop="name">How will we communicate during modeling?</label>
          <div class="faq__item-text" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p class="faq__item-answer" itemprop="text">Powerkh actively encourages communications with all stakeholders. Besides, our
              team members are fluent in English. You can contact us via messaging apps, phone, or email during working
              hours. If you wish, we can set up a video conference based on your time zone.</p>
          </div>
        </li>
        <li class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
          <input class="faq__item-input" type="checkbox" id="faq-5">
          <label class="faq__item-question" for="faq-5" itemprop="name">How will we communicate during modeling?</label>
          <div class="faq__item-text" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p class="faq__item-answer" itemprop="text">Our team uses Autodesk Revit and Tekla for BIM modeling and drafting.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>