<section class="section how" id="workflow">
  <div class="container">
    <h2 class="title how-title">Workflow</h2>

    <div class="how-list" data-how-slider>
      {% for item in how.items %}
      <div class="how-list__item">
        <div class="how-list__item-wrapper card-set">
          <div class="how-list__title-wrapper card-set__item">
            <div class="how-slider__counter">
              <div>
                <span class="how-slider__current" data-current></span>
                <span class="how-slider__total" data-total></span>
              </div>
              <div class="how-slider__btn-wrapper">
                <button
                  class="how-slider__btn how-prev"
                  data-button-prev
                  type="button"
                  aria-label="Previous picture"
                ></button>
                <button
                  class="how-slider__btn how-next"
                  data-button-next
                  type="button"
                  aria-label="Next picture"
                ></button>
              </div>
            </div>

            <h3 class="item-title how-list__undertitle">{{item.title}}</h3>
            {% for item in item.text %}
            <p>{{item}}</p>
            {% endfor %}
          </div>

          <div class="how-list__image-wrapper card-set__item">
            <picture>
              <source
                srcset="./assets/images/how/step-{{item.image}}-lg.webp 1x"
                media="(min-width: 1536px)"
                type="image/webp"
              />
              <source
                srcset="./assets/images/how/step-{{item.image}}-lg.jpg 1x"
                media="(min-width: 1536px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./assets/images/how/step-{{item.image}}-md.webp 1x,
                  ./assets/images/how/step-{{item.image}}-lg.webp 2x
                "
                media="(min-width: 1280px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/how/step-{{item.image}}-md.jpg 1x,
                  ./assets/images/how/step-{{item.image}}-lg.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./assets/images/how/step-{{item.image}}-sm.webp 1x,
                  ./assets/images/how/step-{{item.image}}-md.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./assets/images/how/step-{{item.image}}-sm.jpg 1x,
                  ./assets/images/how/step-{{item.image}}-md.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                class="how-list__image"
                src="./assets/images/how/step-{{item.image}}-lg.jpg"
                alt="city"
                width="1787"
                height="900"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
