<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__cont">
    <ul class="list mobile-menu__list">
      <li class="mobile-menu__item">
        <a href="#services" class="link menu-link mobile-menu__link">Services</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#workflow" class="link menu-link mobile-menu__link">Workflow</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#works" class="link menu-link mobile-menu__link">Works</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#why-choose" class="link menu-link mobile-menu__link">About</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contact-sec" class="link menu-link mobile-menu__link">Contact</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#career" class="link menu-link mobile-menu__link">Career</a>
      </li>
    </ul>
    <button class="btn btn--accent mobile-menu__btn btn-modal">CONTACT US</button>
    <p class="mobile-menu__undertitle">3D Architectural Rendering Studio</p>
  </div>
</div>