<section class="services-contact">
  <div class="container">
    <div class="faq__contact-block">
      <p class="faq__contact-title services-contact__title">Are you looking for a reliable partner in BIM modeling who
        will introduce innovations to your construction project?</p>
      <button class="faq__contact-btn contact-btn services-contact__btn" type="button"
        data-modal="contact-modal">Contact us</button>
      <p class="services-contact__text">and let’s decide on the best solution for your company.</p>
    </div>
  </div>
</section>