<section class="section services" id="services">
  <div class="container">
    <h2 class="title services-title gs_reveal">Services</h2>
    <ul class="list services-list">
      <li class="services-list__item card-set">
        <div class="services-imagecont card-set__item gs_reveal gs_reveal_fromLeft">
          <video width="1024" height="600" style="width: 100%; height: auto;" disablePictureInPicture
            controlsList="nodownload" loop data-video-serv playsinline>
            <source src="./assets/images/services/service1_1280.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="services-textcont card-set__item gs_reveal_fromRight">
          <h3 class="item-title services-textcont__title gs_reveal">Aerial</h3>
          <p class="gs_reveal">
            See how your residential and commercial project look from the clouds with 3D aerial
            visualization tools
          </p>
          <button class="btn btn--accent btn-modal">contact us</button>
        </div>
      </li>

      <li class="services-list__item card-set">
        <div class="services-textcont card-set__item gs_reveal_fromLeft">
          <h3 class="item-title services-textcont__title gs_reveal">3D Exterior</h3>
          <p class="gs_reveal">
            Let your projects shine in a new light to spark interest and catch attention with 3D
            exterior visualization
          </p>
          <button class="btn btn--accent btn-modal">contact us</button>
        </div>

        <div class="services-imagecont card-set__item gs_reveal gs_reveal_fromRight">
          <video width="1024" height="600" style="width: 100%; height: auto;" disablePictureInPicture
            controlsList="nodownload" loop data-video-serv playsinline>
            <source src="./assets/images/services/service2_1280.mp4" type="video/mp4" />
          </video>
        </div>
      </li>

      <li class="services-list__item card-set">
        <div class="services-imagecont card-set__item gs_reveal gs_reveal_fromLeft">
          <video width="1024" height="600" style="width: 100%; height: auto;" disablePictureInPicture
            controlsList="nodownload" loop data-video-serv playsinline>
            <source src="./assets/images/services/service3_1280.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="services-textcont card-set__item gs_reveal_fromRight">
          <h3 class="item-title services-textcont__title gs_reveal">3D Interior</h3>
          <p class="gs_reveal">
            Communicate the elegance of your design ideas to clients and the community in the best
            possible way with 3D interior rendering
          </p>
          <div class="btn-wrapper">
            <button class="btn btn--accent btn-modal">contact us</button>
          </div>
        </div>
      </li>
      <li class="services-list__item card-set">
        <div class="services-textcont card-set__item gs_reveal_fromLeft">
          <h3 class="item-title services-textcont__title gs_reveal">Panorama 360°</h3>
          <p class="gs_reveal">
            3D 360° panoramas provide a detailed and in-depth view of the exterior and interior of your project.
          </p>
          <div class="btn-wrapper">
            <button class="btn btn--accent btn-modal">contact us</button>
          </div>
        </div>

        <div class="services-imagecont card-set__item gs_reveal gs_reveal_fromRight">
          <div class="panorama__wrapper">
            <div class="panorama__image-container"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>