<div class="modal" id="story-modal">
  <div class="modal-js modal__video-wrapper">
    <div class="modal__content--story">
      <video class="video__content" id="js-player" width="1120" poster="./images/video-poster/video-poster.jpeg"
        preload="auto">
        <source src="./images/powerkh.mp4" type="video/mp4" />
      </video>

      <span id="play-btn" class="video__btn-visible">Play video</span>
      <span id="stop-btn" class="video__btn-visible">Stop video</span>
    </div>
  </div>
</div>