<section class="section team">
  <div class="container">
    <h2 class="title">Team</h2>
    <ul class="list card-set team-list">
      <li class="team-list__item card-set__item" data-team-name="Tanya">
        <picture class="btn-modal" data-team-btn>
          <source
            srcset="
              ./assets/images/team/TRapina-sm.webp    1x,
              ./assets/images/team/TRapina-sm@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/TRapina-sm.jpg    1x,
              ./assets/images/team/TRapina-sm@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <source
            srcset="./assets/images/team/TRapina-xl.webp 1x"
            media="(min-width: 1536px)"
            type="image/webp"
          />
          <source
            srcset="./assets/images/team/TRapina-xl.jpg 1x"
            media="(min-width: 1536px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/TRapina-lg.webp    1x,
              ./assets/images/team/TRapina-lg@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/TRapina-lg.jpg    1x,
              ./assets/images/team/TRapina-lg@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/TRapina-md.webp    1x,
              ./assets/images/team/TRapina-md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/TRapina-md.jpg    1x,
              ./assets/images/team/TRapina-md@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <img
            class="team-list__image"
            src="./assets/images/team/TRapina-sm.jpg"
            alt="CDO of the company"
            width="280"
            height="370"
            loading="lazy"
          />
        </picture>

        <p class="team-list__item-label">CEO & Co-Founder</p>
        <p class="item-title team-list__item-title">Tetiana Rapina</p>

        <button class="btn btn--default btn-modal" data-team-btn type="button">
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
          </svg>
          send message
        </button>
      </li>
      <li class="team-list__item card-set__item" data-team-name="Vitalii">
        <picture class="btn-modal" data-team-btn>
          <source
            srcset="
              ./assets/images/team/VPohorilyi-sm.webp    1x,
              ./assets/images/team/VPohorilyi-sm@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/VPohorilyi-sm.jpg    1x,
              ./assets/images/team/VPohorilyi-sm@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <source
            srcset="./assets/images/team/VPohorilyi-xl.webp 1x"
            media="(min-width: 1536px)"
            type="image/webp"
          />
          <source
            srcset="./assets/images/team/VPohorilyi-xl.jpg 1x"
            media="(min-width: 1536px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/VPohorilyi-lg.webp    1x,
              ./assets/images/team/VPohorilyi-lg@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/VPohorilyi-lg.jpg    1x,
              ./assets/images/team/VPohorilyi-lg@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/VPohorilyi-md.webp    1x,
              ./assets/images/team/VPohorilyi-md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/VPohorilyi-md.jpg    1x,
              ./assets/images/team/VPohorilyi-md@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <img
            class="team-list__image"
            src="./assets/images/team/VPohorilyi-sm.jpg"
            alt="COO & Co-Founder of the company"
            width="280"
            height="370"
            loading="lazy"
          />
        </picture>

        <p class="team-list__item-label">COO & Co-Founder</p>
        <p class="item-title team-list__item-title">Vitalii Pohorilyi</p>
        <!-- <p>
          Vitalii has his own recognizible style. His works always stand out by virtue of his
          delicate taste.
        </p> -->
        <button class="btn btn--default btn-modal" data-team-btn type="button">
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
          </svg>
          send message
        </button>
      </li>
      <li class="team-list__item card-set__item" data-team-name="Konstantyn">
        <picture class="btn-modal" data-team-btn>
          <source
            srcset="
              ./assets/images/team/KRapina-sm.webp    1x,
              ./assets/images/team/KRapina-sm@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/KRapina-sm.jpg    1x,
              ./assets/images/team/KRapina-sm@2x.jpg 2x
            "
            media="(max-width: 767px)"
            type="image/jpeg"
          />

          <source
            srcset="./assets/images/team/KRapina-xl.webp 1x"
            media="(min-width: 1536px)"
            type="image/webp"
          />
          <source
            srcset="./assets/images/team/KRapina-xl.jpg 1x"
            media="(min-width: 1536px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/KRapina-lg.webp    1x,
              ./assets/images/team/KRapina-lg@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/KRapina-lg.jpg    1x,
              ./assets/images/team/KRapina-lg@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./assets/images/team/KRapina-md.webp    1x,
              ./assets/images/team/KRapina-md@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./assets/images/team/KRapina-md.jpg    1x,
              ./assets/images/team/KRapina-md@2x.jpg 2x
            "
            media="(min-width: 768px)"
            type="image/jpeg"
          />

          <img
            class="team-list__image"
            src="./assets/images/team/KRapina-sm.jpg"
            alt="CEO & Co-Founder of the company"
            width="280"
            height="370"
            loading="lazy"
          />
        </picture>

        <p class="team-list__item-label">CDO</p>
        <p class="item-title team-list__item-title team_list__first-item_title">
          Kostiantyn Rapina
        </p>

        <button class="btn btn--default btn-modal" data-team-btn type="button">
          <svg>
            <rect x="0" y="0" fill="none" width="100%" height="100%" />
          </svg>
          send message
        </button>
      </li>
    </ul>
  </div>
</section>
