<section class="section why" id="why-choose">
  <div class="container">
    <h2 class="title">How we can help you</h2>

    <ul class="list why-list card-set">
      <li class="why-list__item card-set__item cost-eff">
        <h3 class="item-title">Impress your clients</h3>
        <p>
          Visualization help humanize the architecture, develop a deeper connection with the
          audience, engage and provoke an emotional response from viewers
        </p>
      </li>
      <li class="why-list__item card-set__item design-exp">
        <h3 class="item-title">Speed up your work</h3>
        <p>
          We create top-notch renderings within the short term while you are working on the design
        </p>
      </li>
      <li class="why-list__item card-set__item soft-mastery">
        <h3 class="item-title">Win more projects</h3>
        <p>
          Attention-grabbing visualizations are an extremely spectacular tool for architectural
          competitions
        </p>
      </li>
      <li class="why-list__item card-set__item value">
        <h3 class="item-title">Promote your work</h3>
        <p>
          With high-end visualizations, you can create a striking visual portfolio, eye-catching
          website, and engaging social media
        </p>
      </li>
    </ul>
  </div>
</section>
