<section class="section workflow" id="workflow">
  <div class="container">
    <h2 class="title">Workflow</h2>

    <div class="workflow__item-wrapper">
      <div class="workflow__title-wrapper">
        <p>
          We would like to introduce you to our workflow and the main stages of working on your
          project. We have created a video that will help you become familiar with our process. If
          you have any questions, please don't hesitate to contact us by e-mail at
          <a href="mailto:info@jazzrender.com">info@jazzrender.com</a>
          We would be happy to answer any questions you may have.
        </p>
      </div>

      <div class="workflow__video-wrapper" data-video-wrapper>
        <video class="workflow__video video-controls" data-video width="400" height="320" disablePictureInPicture
          controlsList="nodownload" loop playsinline poster="./assets/images/how/poster.webp">
          <source src="./assets/images/how/video-jr-1.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</section>