<section class="blog blog-section in-house" id="outsourcing1">
    <h2 class="blog__title">Using an in-house BIM team</h2>

    <p>
        An in-house team is the most logical and straightforward approach to BIM
        used by many companies. “We need this capability, let’s hire an in-house
        team to deliver it!” In-house employees create a feeling of control; you can
        ensure their full commitment and quality of work. What’s more, with an
        in-house solution the expertise stays within the company.
    </p>
    <p>
        This all seems well and good, until the difficult questions begin to arise:
    </p>

    <ul class="blog__list in-house__list">
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Who will source, interview, and hire your team?</span>
            You need to pay in-house or external recruiters while they look for the
            specialists — and the process might take up to 6 months or more.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Which candidates are good?</span>

            If you’re putting a BIM team together from scratch, you may not be able to
            evaluate applicants' skills to ensure you hire reliable talent.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">What if there’s no one in your area?</span>

            There’s quite possibly a shortage of unemployed BIM specialists in your
            area. Let’s be frank: the good ones are happily employed, so you need to
            headhunt and acquire talent from your competitors.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Which software should you use?</span>
            There’s a huge range of software encompassing different BIM processes such
            as AutoCAD, Dynamo, Revit and SketchUp, Navisworks, Inventor, etc so
            mastering just one tool doesn’t mean you’ve mastered BIM. You also need to
            ensure that the people you hire can work with the software that suits your
            business objectives best and integrates with the rest of your tool kit
            well.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">Who will bring the team together?</span>
            Hiring good talent is hard enough. Making a productive team out of them is
            even harder. You will need to invest a lot of personal or HR effort until
            your team is ready to rock.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">What will the CAPEX and OPEX be?</span>

            Once your team is hired, you need to purchase the hardware and software
            licenses required for work.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">How much time and growth opportunities are you losing?</span>
            You will likely lose money due to unfulfilled contracts and missed
            deadlines until you accumulate solid in-house BIM expertise, and this
            takes time.
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-strong">How safe is your knowledge investment?</span>
            Your employees can leave for a higher paycheck anytime, taking their
            knowledge with them.
        </li>
    </ul>
    <picture>
        <source srcset="
        ./images/blog/in-house/in-house-lg.webp    1x,
        ./images/blog/in-house/in-house-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/in-house/in-house-lg.jpg    1x,
        ./images/blog/in-house/in-house-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/in-house/in-house-sm.webp    1x,
        ./images/blog/in-house/in-house-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/in-house/in-house-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image" src="./images/blog/in-house/in-house-sm.jpg" alt="thinking man" width="280"
            height="151" loading="lazy" />
    </picture>

    <p>
        These are just some of the questions you’ll likely have to deal with even
        before your in-house BIM team is up and running. Now let’s take a look at
        the pros and cons of managing an active in-house BIM team.
    </p>

    <h3 class="blog__item-title">Advantages of in-house BIM</h3>
    <ul class="in-house__list--advantages">
        <li class="blog__item-arrow">
            You have full control of
            <span class="blog__text-underline">140-160 man-hours a month</span> per
            employee.
        </li>
        <li class="blog__item-arrow">
            You can see and manage project progress directly and can adjust the
            workflows to meet deadlines.
        </li>
        <li class="blog__item-arrow">
            The expertise gained remains within the team (until someone leaves).
        </li>
    </ul>

    <h3 class="blog__item-title">Disadvantages of in-house BIM</h3>

    <ul class="in-house__list--advantages">
        <li class="blog__item-arrow">
            You have to pay the team members for 140+ man/hours monthly, even if there
            is nothing to do. Also, the cost of software licences is at least $5000
            annually.
        </li>
        <li class="blog__item-arrow">
            You have to maintain an on-premises server farm to support rendering and
            simulations processing quickly enough, which means more CAPEX on equipment
            and OPEX on IT department salaries unless you’re fully in the cloud.
        </li>
        <li class="blog__item-arrow">
            You will need to complete quite a few projects before the team irons out
            all the bumps in workflows and begins working at full capacity.
        </li>
    </ul>
    <p>
        Despite the challenges and disadvantages, many companies think that an
        in-house team is the only way to implement BIM. What’s more, based on our
        experience at Powerkh, stakeholders believe that such investments are only
        possible for big AEC businesses, so small businesses are left without an
        option.
    </p>
    <p>
        But what if reliable BIM outsourcing allowed you to address these challenges
        — or even did away with them altogether?
    </p>
</section>