<section class="blog blog-section why" id="outsourcing3">
    <h2 class="blog__title">Why to outsource BIM services to Powerkh?</h2>

    <p>
        We have a solid reputation as a BIM and VDC solutions provider operating in
        11 countries. Since our creation in 2016, we’ve completed more than 200
        state-of-the-art projects in BIM, VDC,
        <span class="blog__text-underline">structural detailing</span>,
        computational <span class="blog__text-underline">design automation</span>,
        digital fabrication, and more. With an NPS of 91, we are able to provide
        references from satisfied customers, many of whom have become long-term
        partners. Our particular areas of expertise include:
    </p>

    <h3 class="blog__item-title">BIM modeling and documentation</h3>

    <ul class="blog__list">
        <li class="blog__item-arrow">
            <span class="blog__text-underline">Building 3D models</span>
            from provided 2D drawings in.dwg and other formats
        </li>
        <li class="blog__item-arrow">Model rendering for presentation needs</li>
        <li class="blog__item-arrow">
            Documentation support for the coordinated drawings
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-underline">Improving the level of development and detail</span>
            (from LOD 200 to LOD 300 or 350)
        </li>
    </ul>

    <h3 class="blog__item-title">
        BIM coordination for clash detection and resolution
    </h3>

    <ul class="blog__list">
        <li class="blog__item-arrow">
            <span class="blog__text-underline">Coordinating different models</span>
            in MEP/ARC/STR formats and resolving clashes
        </li>
        <li class="blog__item-arrow">
            Linking and updating the models simultaneously to accommodate and
            propagate third-party changes
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-underline">Model updates and rearrangements</span>
            to improve workflow efficiency through the automation of routine design
            processes
        </li>
    </ul>

    <h3 class="blog__item-title">
        BIM for construction prefabrication and fabrication
    </h3>

    <ul class="blog__list why__list">
        <li class="blog__item-arrow">
            Developing input for Computer Numerical Construction
        </li>
        <li class="blog__item-arrow">
            <span class="blog__text-underline">Scan to BIM</span>
            (building models based on point cloud data)
        </li>
        <li class="blog__item-arrow">
            Boosting productivity up to 50% by coupling factory-based prefabrication
            with on-site construction work
        </li>
    </ul>


    <picture>
        <source srcset="
        ./images/blog/why/why-lg.webp    1x,
        ./images/blog/why/why-lg@2x.webp 2x
      " media="(min-width: 375px)" type="image/webp" />
        <source srcset="
        ./images/blog/why/why-lg.jpg    1x,
        ./images/blog/why/why-lg@2x.jpg 2x
      " media="(min-width: 375px)" type="image/jpeg" />

        <source srcset="
        ./images/blog/why/why-sm.webp    1x,
        ./images/blog/why/why-sm@2x.webp 2x
      " media="(max-width: 374px)" type="image/webp" />
        <source srcset="./images/blog/why/why-sm@2x.jpg" media="(max-width: 374px)" type="image/jpeg" />

        <img class="blog__image" src="./images/blog/why/why-sm.jpg" alt="team at work" width="280" height="151"
            loading="lazy" />
    </picture>
    <p>
        We’re passionate about what we do, which is using digital design tools to improve the way the buildings and
        structures
        are designed, built, and run.
    </p>


</section>