<section class="case">
  <div class="container">
    <a href="./case-studies.html" class="case__headline">
      <svg class="case__headline-icon">
        <use href="./images/sprite.svg#logo-part"></use>
      </svg>/Case Studies
    </a>

    <h1 class="case__title">Wall framing design automation</h1>

    <div class="challenge__wrapper">
      <div class="challenge__content">
        <h2 class="challenge__title">Client</h2>
        <p class="challenge__desc">
          Our client is a North America-based, international construction
          services company, a leading builder in numerous market segments.
        </p>

        <h2 class="challenge__title">Challenge</h2>
        <p class="challenge__desc">
          Our client struggled with a number of challenges in their design
          process. One of them was the design of a wall framing. It takes effort
          and time to design it according to structural requirements and model
          it correctly, coordinating it with other building elements. The system
          of wall framing includes a range of many elements dependent on each
          other. Even the slightest changes require updating the entire system.
          As a result, a ready-to-use design is delivered with a significant
          delay.
        </p>
      </div>

      <div class="challenge-img challenge-img--ceiling">
        <div id="js-slider">
          <div class="slider-slick__item">
            <div class="challenge-img__item solution__item item-block my-gallery" itemscope
              itemtype="http://schema.org/ImageGallery">
              <figure class="solution__figure" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
                <a class="solution__image" href="./images/cases/wall-framing-case/w1-lg.webp" data-size="2200x1200"
                  itemprop="contentUrl">
                  <img src="./images/cases/wall-framing-case/w1-md.jpg" loading="lazy"
                    alt="Wall framing design automation example" />
                </a>
              </figure>
            </div>
          </div>

          <div class="slider-slick__item">
            <div class="challenge-img__item solution__item item-block my-gallery" itemscope
              itemtype="http://schema.org/ImageGallery">
              <figure class="solution__figure" itemprop="associatedMedia" itemscope
                itemtype="http://schema.org/ImageObject">
                <a class="solution__image" href="./images/cases/wall-framing-case/w2-lg.webp" data-size="2200x1200"
                  itemprop="contentUrl">
                  <img src="./images/cases/wall-framing-case/w2-md.jpg" loading="lazy"
                    alt="Wall framing design automation example" />
                </a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>