<section class="conclusion">
  <div class="container">
    <h2 class="conclusion__title">Impact on business</h2>
    <div class="conclusion__content">

      <p class="conclusion__text">By implementing the set of Dynamo scripts in the wall framing design process, we
        reduced the time needed to design the framing for one wall from several hours to just a few minutes. Each script
        can be modified in line with the client's requirements for the framing material preferred connections and
        details etc. It takes now much less time to design a high-quality wall framing model that caters to the
        building’s specific features. If the wall layout changes, our team can easily adjust the framing design with
        minimum labor hours.</p>

      <div class="progress">
        <div class="progress__numbers">
          <div class="progress__index"><span data-target="90">90</span><span>&percnt;</span></div>
          <div class="progress__index"><span data-target="3">3</span><span>x</span></div>
          <div class="progress__index"><span data-target="5">5</span><span>x</span></div>
        </div>

        <div class="progress__desk">
          <p class="progress__text">of design errors were fixed</p>
          <p class="progress__text">increase in design speed</p>
          <p class="progress__text">cheaper design due to automation and lower labor costs</p>
        </div>
      </div>

    </div>
  </div>
</section>