<section class="process">
  <div class="container">
    <h2 class="process__title">Process</h2>

    <ul class="process__list">
      <li class="process__item">
        <h3 class="process__caption audit-icon">Audit</h3>
        <p class="process__text">Having analyzed the client’s wall design process we identified processes that could be
          automated.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption design-icon">Design</h3>
        <p class="process__text">Using Dynamo, we made 3 scripts for every subprocess: panels grid creation, panels
          division and framing creation.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption test-icon">Test</h3>
        <p class="process__text">During this stage, we found issues with scripts and figured out which steps to take to
          improve the scripts.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption refine-icon">Refine</h3>
        <p class="process__text">We added 2 more scripts to do quality control and remove auxiliary elements.</p>
      </li>

      <li class="process__item">
        <h3 class="process__caption maintain-icon">Maintain</h3>
        <p class="process__text">Our engineering team took over the workflow and its regular improvements.</p>
      </li>
    </ul>
  </div>
</section>