<section class="solution">
  <div class="container">
    <h2 class="solution__title">Solution</h2>

    <ul class="solution__list">
      <li class="solution__item item-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure class="solution__figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a class="solution__image" href="./images/cases/wall-framing-case/w3-md.jpeg" data-size="1440x840"
            itemprop="contentUrl">
            <picture>
              <source srcset="./images/cases/wall-framing-case/w3-md.webp" media="(min-width: 720px)"
                type="image/webp" />
              <source srcset="./images/cases/wall-framing-case/w3-md.jpeg" media="(min-width: 720px)"
                type="image/jpeg" />
              <source srcset="./images/cases/wall-framing-case/w3-sm.webp" media="(max-width: 719px)"
                type="image/webp" />
              <img src="./images/cases/wall-framing-case/w3-sm.jpeg" loading="lazy"
                alt="Wall framing design automation exampl" />
            </picture>

            <span class="zoom-btn">
              <svg>
                <use href="./images/sprite.svg#zoom"></use>
              </svg>
            </span>
          </a>
        </figure>
      </li>

      <li class="solution__item item-block my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
        <figure class="solution__figure" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a class="solution__image" href="./images/cases/wall-framing-case/wall-lg.gif" data-size="2080x1300"
            itemprop="contentUrl">
            <picture>
              <source srcset="./images/cases/wall-framing-case/wall-md.gif" media="(min-width: 1200px)"
                type="image/gif" />
              <source srcset="./images/cases/wall-framing-case/wall-md.gif" media="(min-width: 720px)"
                type="image/gif" />
              <img src="./images/cases/wall-framing-case/wall-sm.gif" loading="lazy"
                alt="Wall framing design automation exampl" />
            </picture>

            <span class="zoom-btn">
              <svg>
                <use href="./images/sprite.svg#zoom"></use>
              </svg>
            </span>
          </a>
        </figure>
      </li>
    </ul>
  </div>
</section>