<section class="blog blog-section" id="boostproduct-1">
  <p>
    Everyone knows how a scanner works – you put your document into a machine,
    and the information is transferred to your computer screen in a matter of
    seconds. Scan to BIM works similarly. A laser scanner is used to ensure
    exact 3D scanning of real project conditions. Then the scanning data is
    imported into the 3D modeling environment, either to create exact models or
    obtain data about up-to-date information.
  </p>
  <p>
    Scan to BIM is a process of three-dimensional

    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.powerkh.com/the-benefits-of-using-laser-scanning-in-construction-you-cant-miss.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >laser scanning</a
    >

    of the physical environment to create its exact digital representation. This
    can be used later for design, progress evaluation, or assessment of
    capabilities.
  </p>
  <p>
    Powerkh Point Cloud to BIM modeling services could help you get more precise
    results. The main goals of similar projects include:
  </p>

  <ul class="blog__list">
    <li class="blog__item-arrow">
      Receiving precise information about
      <span class="blog__text-strong">existing conditions </span> to use in the
      process of reconstruction
      <span class="blog__text-strong">and renovation </span>.
    </li>
    <li class="blog__item-arrow">
      Quality control in real estate development and progress tracking during
      the construction.
    </li>
    <li class="blog__item-arrow">
      3D modeling to be used in 4D design and architectural visualization.
    </li>
    <li class="blog__item-arrow">
      Project visualization – from CGI up to VR and AR.
    </li>
    <li class="blog__item-arrow">
      Reducing the site visits and manual surveys for all project participants.
      It also helps to enroll a remote team for such projects.
    </li>
  </ul>
  <figure>
    <figcaption class="blog__title blog__figcaption-title">
      SCAN-to-BIM
    </figcaption>
    <picture>
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-1.webp    1x,
          ./images/blog/boosting-productivity/boosting-1@2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-1.jpg    1x,
          ./images/blog/boosting-productivity/boosting-1@2x.jpg 2x
        "
        media="(min-width: 375px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-1sm.webp    1x,
          ./images/blog/boosting-productivity/boosting-1sm@2x.webp 2x
        "
        media="(max-width: 374px)"
        type="image/webp"
      />

      <source
        srcset="./images/blog/boosting-productivity/boosting-1sm@2x.jpg 2x"
        media="(max-width: 374px)"
        type="image/jpeg"
      />

      <img
        class="blog__image"
        src="./images/blog/boosting-productivity/boosting-1sm.jpg "
        alt="First drawing"
        width="280"
        height="158"
        loading="lazy"
      />
    </picture>
  </figure>
  <p>
    Scan to BIM projects vary according to building types, final goals, sizes,
    required discipline, and more. On top of that, the tasks often change during
    the project, leading to a lot of rework. Each project is always unique,
    time-consuming, and challenging. Moreover, a person seeing a model for the
    first time finds it hard to evaluate the quality of the prepared model.
    That's why the positive project outcome may seem obscure due to so many
    challenges.
  </p>
  <p>
    Despite all these obstacles, the projects can be effective and delivered
    with high quality. What you'll have to do is to choose the right software,
    plan everything thoroughly, opt for efficient modeling, and automate the
    routine tasks. We'll deal with all of that in our article, so keep reading.
  </p>
  <h2 class="blog__title" id="boostproduct-2">
    Scan to BIM ecosystem and software
  </h2>
  <p>
    Software for BIM involves more than just a program or two. It’s an entire
    complex of digital software, which can be utilized by all design and
    construction participants with maximum effect.
  </p>
  <p>
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="./choosing-best-bim-software-for-your-project-in-2021.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >The list of software options</a
    >
    that can be used to perform Scan to BIM tasks is relatively short. The most
    popular basic programs are
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.autodesk.com/products/revit/overview"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Revit</a
    >,
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://graphisoft.com/solutions/archicad"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Archicad</a
    >, and
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.vectorworks.net/en-US"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Vectorworks</a
    >.
  </p>
  <p>
    When the time comes to choose software for working with BIM, a universal
    solution, unfortunately, doesn’t exist. Focus instead on the results you’d
    like to achieve using BIM, and choose the software that will turn your plans
    into reality. For this purpose, you can use a wide range of different tools.
  </p>
  <p>
    Our company opts for <span class="blog__text-strong">Revit </span>. What’s
    so special about it? Here are several characteristics:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      Revit is one of the most widely-used tools on the market that works with
      all facets of a construction project. In addition, its modeling can be
      easily converted to any other program and used for further designs.
    </li>
    <li class="blog__item-arrow">
      It’s inter-operable. You can extend your Revit possibilities by installing
      plugins and graphical programming using Dynamo.
    </li>
    <li class="blog__item-arrow">
      All participants involved in the process can work simultaneously and
      coordinate their work at the same time.
    </li>
    <li class="blog__item-arrow">
      Revit creates models with interconnected components. This means that if
      you replace a wall, all elements placed upon it will change their location
      in conjunction.
    </li>
    <li class="blog__item-arrow">
      Revit’s generative design function allows for alternative design at any
      level of detail, even while the project is in progress.
    </li>
    <li class="blog__item-arrow">
      Possibility to work with Naviswork. This program helps coordinate jobs
      effectively and conducts a comprehensive project analysis.
    </li>
  </ul>
  <p>
    It’s worth saying a couple of words about secondary programs used to view
    scanning results –
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://dynamobim.org/"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Dynamo</a
    >,
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.autodesk.com/products/navisworks/overview"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Navisworks</a
    >, and
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://leica-geosystems.com/products/laser-scanners/software/leica-truview"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Leica TrueView</a
    >, or similar:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      Using Dynamo, you can train Revit to perform new actions: draw up shapes,
      work with data, update properties, and more. Instead of a complex code,
      Dynamo uses simple blocks that create rules Revit will follow. This is
      called graphical programming.
    </li>
    <li class="blog__item-arrow">
      Navisworks covers various tools and means that let you check projects
      you’ve created. Thanks to integration tools and tools for calculation and
      data exchange, users can coordinate the introduction of changes into any
      aspect of the project, eliminate contradictions, and prepare the planning
      implementation before construction starts.
    </li>
    <li class="blog__item-arrow">
      Leica TrueView or similar plugins can also be used for simple and
      convenient point cloud data exchange. This program allows all project
      participants to collaborate using state-of-the-art solutions to access,
      view, and analyze digital data.
    </li>
  </ul>
  <p>
    No matter which software you choose for your work, it doesn’t guarantee the
    desired and lasting results. Other factors also add to the project’s
    success. Let’s get down to them now.
  </p>
  <figure>
    <figcaption class="blog__title blog__figcaption-title">
      SCAN-to-BIM
    </figcaption>
    <picture>
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-2.webp    1x,
          ./images/blog/boosting-productivity/boosting-2@2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-2.jpg    1x,
          ./images/blog/boosting-productivity/boosting-2@2x.jpg 2x
        "
        media="(min-width: 375px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-2sm.webp    1x,
          ./images/blog/boosting-productivity/boosting-2sm@2x.webp 2x
        "
        media="(max-width: 374px)"
        type="image/webp"
      />

      <source
        srcset="./images/blog/boosting-productivity/boosting-2sm@2x.jpg 2x"
        media="(max-width: 374px)"
        type="image/jpeg"
      />

      <img
        class="blog__image"
        src="./images/blog/boosting-productivity/boosting-2sm.jpg "
        alt="First drawing"
        width="280"
        height="158"
        loading="lazy"
      />
    </picture>
  </figure>
  {% include 'blog/components/modeling-services.html' %}
  <h2 class="blog__title" id="boostproduct-3">Project planning</h2>
  <p>
    Although challenges of various complexity aren't uncommon in the course of
    design and construction projects, it’s a shame when they occur right after
    the beginning. Let’s have a look at the most common issues that may arise
    during the initial stage of work with Scan to BIM include:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      The complexity of project evaluation, work with incoming data bulk and
      file storage.
    </li>
    <li class="blog__item-arrow">Determination of the precise work scope.</li>
    <li class="blog__item-arrow">
      Communication during construction projects which involve multiple
      participants and requires detailed documentation, tools, and more.
    </li>
  </ul>
  <p>Now let's see into each statement.</p>
  <h2 class="blog__title-normal" id="boostproduct-4">Project evaluation</h2>
  <p>
    Often, the data necessary for objectively evaluating timeframes are missing
    during the initial stages of the project. To evaluate the project, one needs
    the following: site address, pictures of the building (both inside and out),
    and building plans, as well as drawings of all kinds. But even in cases
    where information is limited, Powerkh performs preliminary timing
    estimations for the project based on previous experience.
  </p>
  <h2 class="blog__title-normal" id="boostproduct-5">Scope of work</h2>
  <p>
    There are various building types. It is necessary to understand what
    building the model is created for to identify proper modeling priorities.
    For example, it’s crucial to preserve the facade's appearance when it comes
    to historical buildings, with particular attention paid to modeling every
    detail of the building's face. Yet when it comes to modern facilities,
    geometric parameters and elements of the building must be on the fore. It
    means that there is no critical need to pay so much attention to every
    detail of the facade units. With that said, we once again emphasized the
    importance of goals determining during the project assessment stage.
  </p>
  <h2 class="blog__title-normal" id="boostproduct-6">Level of detail</h2>
  <p>
    A deep understanding of project goals is the first and foremost condition to
    achieve the required level of detail in a 3D model. Moreover, all the
    specification requirements should be to be crystal clear for both client and
    contractor. Two main systems to evaluate requirements specification can help
    everyone to stay on the same page. We're talking about
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://bim-international.com/wp-content/uploads/2016/03/LOD-Specification-2015.pdf"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >Level of Development Specification (LOD)</a
    >
    by
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://bimforum.org/"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >BIM Forum</a
    >
    and the
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.designingbuildings.co.uk/wiki/ISO_19650"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >UK standard ISO 19650 </a
    >. Mind that it usually takes some time to study those documents in detail.
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      BIM Forum standard is usually used in the USA and regions under its
      influence. LOD structure was proposed by
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://www.aia.org/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >AIA (American Institute of Architects)
      </a>
      and developed by BIM Forum. The document is a standard used to define the
      development state of various systems, fittings, and components within a
      BIM model. This standard ensures communication and project implementation
      while simplifying the detailed definition of BIM stages and results.
    </li>
    <li class="blog__item-arrow">
      ISO 19650 was developed to help manage information using BIM throughout
      the entire building lifecycle. This document includes strategic planning
      of a project, initial design, engineering works, project development,
      everyday use, maintenance, modernization, repair, termination of building
      service life, and more. Description of detail levels in project
      implementation occupies a separate clause in the document.
    </li>
  </ul>
  <p>
    To eliminate the above-mentioned obstacles, it’s necessary to visualize the
    project outcomes. However, if we compare time spent on building modeling
    according to LOD2 and LOD4, it will differ significantly. With LOD2,
    modeling a building might require a few hours of work. With LOD4, it might
    be several weeks, taking into account the detail level, which doesn't matter
    that much in LOD2. The fact that every level of detail has its permissible
    variations is fundamental in modeling. It's 50 mm in LOD2, in LOD3 – 30 mm,
    and in LOD4 – 15 mm, which also significantly influences the amount of time
    spent on the project.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-3.webp    1x,
        ./images/blog/boosting-productivity/boosting-3@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-3.jpg    1x,
        ./images/blog/boosting-productivity/boosting-3@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-3sm.webp    1x,
        ./images/blog/boosting-productivity/boosting-3sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/boosting-productivity/boosting-3sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/boosting-productivity/boosting-3sm.jpg "
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <a
    class="blog__text-link"
    href="/construction-rfi-template-best-practices.html"
    target="_blank"
    rel="noopener noreferrer nofollow"
    style="display: block;"
  >
    <h2 class="blog__title-normal" id="boostproduct-7">
      Request for information (RFI) log
    </h2>
  </a>

  <p>
    Throughout large-scale projects, it’s important to keep all questions and
    problems in one place. This way, one can return to a certain issue at any
    moment without wasting time. We use the RFI log for this purpose. The RFI
    log allows the client, constructor, and contractor to register and follow
    issues throughout the project and works well when all parties use it. As
    long as it prevents data loss, it spares time one spends restoring
    information, which is critical for some projects.
  </p>
  <h2 class="blog__title-normal" id="boostproduct-8">Project Backlog</h2>
  <p>
    The main tool at the project planning stage is Project Backlog. It’s
    suitable for planning and assessing task timeframes and can be used with
    projects of any scale. You can see there all the tasks to be completed
    during the whole project, which keeps everyone updated and prevents
    deviations from the initial schedule. But mind that while you're planning a
    project, it's important to divide it correctly into separate tasks. Split
    the tasks so that they aren't complex and can be completed by a single
    person. In addition, the sequence of project implementation plays an
    important role. The project structure should offer the possibility to
    implement with maximum convenience and consistency. The correct sequence of
    tasks will help save time by avoiding unnecessary rework or returning to
    previous tasks unless it's really required.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-4.webp    1x,
        ./images/blog/boosting-productivity/boosting-4@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-4.jpg    1x,
        ./images/blog/boosting-productivity/boosting-4@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-4sm.webp    1x,
        ./images/blog/boosting-productivity/boosting-4sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/boosting-productivity/boosting-4sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/boosting-productivity/boosting-4sm.jpg "
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <h2 class="blog__title-normal" id="boostproduct-9">File storage</h2>
  <p>
    The client and customer need to have the same folder structure and file
    naming system (whether in the cloud or local storage) throughout the
    project. One more point in favor of Revit – has its own cloud storage, which
    significantly simplifies large file exchange.
  </p>
  <picture>
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-5.webp    1x,
        ./images/blog/boosting-productivity/boosting-5@2x.webp 2x
      "
      media="(min-width: 375px)"
      type="image/webp"
    />
    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-5.jpg    1x,
        ./images/blog/boosting-productivity/boosting-5@2x.jpg 2x
      "
      media="(min-width: 375px)"
      type="image/jpeg"
    />

    <source
      srcset="
        ./images/blog/boosting-productivity/boosting-5sm.webp    1x,
        ./images/blog/boosting-productivity/boosting-5sm@2x.webp 2x
      "
      media="(max-width: 374px)"
      type="image/webp"
    />

    <source
      srcset="./images/blog/boosting-productivity/boosting-5sm@2x.jpg 2x"
      media="(max-width: 374px)"
      type="image/jpeg"
    />

    <img
      class="blog__image"
      src="./images/blog/boosting-productivity/boosting-5sm.jpg "
      alt="First drawing"
      width="280"
      height="158"
      loading="lazy"
    />
  </picture>
  <h2 class="blog__title-normal" id="boostproduct-10">Communication</h2>
  <p>
    Last but not least is the selection of communication channels. It's critical
    to be updated and be able to receive files and make video calls using the
    same app. Remote work during the lockdown speeded up the development and
    adoption of numerous apps we can choose from.
  </p>
  {% include 'blog/components/case-studies.html' %}
  <h2 class="blog__title" id="boostproduct-11">Templates and standards</h2>
  <p>
    Projects vary significantly. Even two similar buildings may take different
    times to model, depending on the specified project targets. As a
    consequence, the BIM managers may face issues with project timeframes,
    quality, and cost. Luckily there is a way to address those issues, and it's
    using templates, standards, and family libraries prepared in advance.
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Template. </span> All BIM projects have a
      list of steps repeated from project to project. The same occurs with Scan
      to BIM. One of the best ways to save time during modeling is to get ready
      beforehand. You can do that by creating a template with all necessary
      families, notes, preset views, sheets, and more. The use of a project
      template should be the starting point in new model creation. Use templates
      to meet all the required standards, such as units of measurement,
      lineweight, view scale, and so on. Moreover, a project template contains
      ready elements of a 3D model. So make use of it.
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong"
        >Logic in family modeling and family library.
      </span>
      It’s vital to unify recurring objects in modeling. A library of such
      elements significantly decreases the time needed to perform tasks. We’ve
      developed a family library that contains parameter families for various
      levels of detail and various building types.
      <picture>
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-6.webp    1x,
            ./images/blog/boosting-productivity/boosting-6@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-6.jpg    1x,
            ./images/blog/boosting-productivity/boosting-6@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-6sm.webp    1x,
            ./images/blog/boosting-productivity/boosting-6sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />

        <source
          srcset="./images/blog/boosting-productivity/boosting-6sm@2x.jpg 2x"
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/boosting-productivity/boosting-6sm.jpg "
          alt="First drawing"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="blog__item-arrow">
      <span class="blog__text-strong">Standardization of work delivery. </span>
      Scan to BIM project requires meticulous work to achieve better results in
      a short time. It means that modeling procedures, family modeling
      correctness, construction stages, and many other things should be
      prescribed.
    </li>
  </ul>
  <p>
    Now let’s proceed to one of the most complex yet fascinating chapters in our
    article - the one dealing with points cloud.
  </p>
  <h2 class="blog__title" id="boostproduct-12">Modeling aspects</h2>
  <p>
    Even the most advanced users may feel ill at ease when they encounter point
    cloud, leading to element modeling errors and significantly limiting further
    model use. Below, you’ll find several tips that could help you avoid many
    problems.
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      Geometry in each model must be structured. Revit offers many tools that
      can help you with that, including worksets, which simplify control and
      allow for content filtering. For example, if you need to see walls only,
      you can leave this single workset active. On the screenshot below, you may
      see a standard range of worksets we use in our working template.
    </li>
    <li class="blog__item-arrow">
      Wall by Mass. If the level of precision in a project is high, say LOD4 (15
      mm), and you model an old building, most likely it will be tilted or
      uneven. Until 2021, it was impossible to attain this effect in Revit by
      default. Besides, even in the 2021 version, this option has its
      limitations. To create a wall like that, it’s worth using the Wall by Mass
      tool. But mind that applying ‘Join’ to such a wall is impossible.
    </li>
    <li class="blog__item-arrow">
      To avoid problems, the walls should be attached to floors or upper levels.
      All walls should be divided into levels and have bindings divisible by 5
      mm. All widths and other dimensions should be divisible by 5 mm as well.
      This also applies to all types of families, like floors, roofs, beams, and
      so on.
    </li>
    <li class="blog__item-arrow">
      The best solution for building “wavy” floors is to create a grid using
      modify points, and raise points up to the necessary height. This will
      prevent both the automatic creation of numerous lines when building the
      floor and problems with discarding previously created slopes.
    </li>
    <li class="blog__item-arrow">
      <p>
        You'll also have to consider that it’s better to create a floor when
        outer walls are already prepared. Changes in floor lines after modifying
        points could reset them, which will lead to multiple reworks and loss of
        precious time.
      </p>
      <picture>
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-7.webp    1x,
            ./images/blog/boosting-productivity/boosting-7@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-7.jpg    1x,
            ./images/blog/boosting-productivity/boosting-7@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-7sm.webp    1x,
            ./images/blog/boosting-productivity/boosting-7sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />

        <source
          srcset="./images/blog/boosting-productivity/boosting-7sm@2x.jpg 2x"
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/boosting-productivity/boosting-7sm.jpg "
          alt="First drawing"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="blog__item-arrow">
      <p>
        Always try to create stairs level by level. It will help you to prevent
        mistakes and enable creating railings automatically. Don’t divide the
        stairs into flights between the floors, even if it makes modeling more
        precise.
      </p>
      <picture>
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-8.webp    1x,
            ./images/blog/boosting-productivity/boosting-8@2x.webp 2x
          "
          media="(min-width: 375px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-8.jpg    1x,
            ./images/blog/boosting-productivity/boosting-8@2x.jpg 2x
          "
          media="(min-width: 375px)"
          type="image/jpeg"
        />

        <source
          srcset="
            ./images/blog/boosting-productivity/boosting-8sm.webp    1x,
            ./images/blog/boosting-productivity/boosting-8sm@2x.webp 2x
          "
          media="(max-width: 374px)"
          type="image/webp"
        />

        <source
          srcset="./images/blog/boosting-productivity/boosting-8sm@2x.jpg 2x"
          media="(max-width: 374px)"
          type="image/jpeg"
        />

        <img
          class="blog__image"
          src="./images/blog/boosting-productivity/boosting-8sm.jpg "
          alt="First drawing"
          width="280"
          height="158"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="blog__item-arrow">
      After the modeling is completed, it’s necessary to hold a good quality
      assurance (QA). Most inaccuracies and mistakes might be easily revealed
      during the visual examination of a 3D model. For this purpose, try using a
      scope box with point clouds. Examining the 3D model vertically and
      horizontally (as a scanner does) with a scope box, you can locate all
      inaccuracies in the model. It’s also convenient to use worksets for visual
      examination and specifications such as offsets, family materials, and
      impractical information in family parameters. Run ‘purge’ after.
    </li>
    <li class="blog__item-arrow">
      <p>
        Always correct all errors that emerge while working with the model.
        These errors may prevent further usage of the model after you send it to
        your client. Some errors can be easily corrected after they’ve been
        identified in a pop-up window. But sometimes, this is impossible. Here’s
        some advice on how to simplify your work with warnings:
      </p>
      <ul class="blog__list">
        <li class="blog__item-arrow">
          Find the ‘export’ button in the same pop-up window and export them
          into a pdf file. It'll let you copy error numbers and quickly find
          them using the Revit standard search function.
        </li>
        <li class="blog__item-arrow">
          Don’t bother correcting
          <span class="blog__text-cursive"
            >“Line in Sketch is slightly off-axis and may cause
            inaccuracies”</span
          >
          errors. Such errors appear when the level of detail is high, and one
          models something very precisely, lines created at non-repeated angles
          being the reason this error appears.
        </li>
        <li class="blog__item-arrow">
          If a solution to a problem cannot be found, or Revit identifies an
          error when there is none, cut the element and paste it into the same
          spot. In 90% of cases, this solves the problem, and the error
          disappears.
        </li>
      </ul>
    </li>
  </ul>
  <p>Next, we’ll revise what Dynamo is.</p>
  {% include 'blog/components/subscription.html' %}
  <h2 class="blog__title" id="boostproduct-13">Dynamo and plugins</h2>
  <p>
    Dynamo is a visual programming tool that works as a plugin to Revit. Dynamo
    extends Revit’s standard functions by providing easier access to Revit API
    (Application Programming Interface). With Dynamo, instead of writing code,
    you create programs by manipulating graphic elements called ‘nodes’.
  </p>
  <p>
    In regard to Scan to BIM, this could help with other projects as well. For
    example:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      Automatically create sheets with existing views.
    </li>
    <li class="blog__item-arrow">
      Automatically fill in necessary parameters.
    </li>
    <li class="blog__item-arrow">
      Place legends/specifications on the correct sheets.
    </li>
    <li class="blog__item-arrow">
      Automatically divide families into worksets.
    </li>
    <li class="blog__item-arrow">
      Delete unnecessary elements that performed auxiliary functions in family
      building, like reference planes/lines.
    </li>
    <li class="blog__item-arrow">
      Check the location of families against levels.
    </li>
    <li class="blog__item-arrow">
      Automatically calculate the volume and area of elements and export
      information into an excel file.
    </li>
  </ul>
  <figure>
    <figcaption class="blog__title blog__figcaption-title">
      DYNAMO USAGE
    </figcaption>
    <picture>
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-9.webp    1x,
          ./images/blog/boosting-productivity/boosting-9@2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-9.jpg    1x,
          ./images/blog/boosting-productivity/boosting-9@2x.jpg 2x
        "
        media="(min-width: 375px)"
        type="image/jpeg"
      />

      <source
        srcset="
          ./images/blog/boosting-productivity/boosting-9sm.webp    1x,
          ./images/blog/boosting-productivity/boosting-9sm@2x.webp 2x
        "
        media="(max-width: 374px)"
        type="image/webp"
      />

      <source
        srcset="./images/blog/boosting-productivity/boosting-9sm@2x.jpg 2x"
        media="(max-width: 374px)"
        type="image/jpeg"
      />

      <img
        class="blog__image"
        src="./images/blog/boosting-productivity/boosting-9sm.jpg "
        alt="First drawing"
        width="280"
        height="158"
        loading="lazy"
      />
    </picture>
  </figure>

  <p>
    To boost productivity while working with Revit, it’s possible to automate
    some processes using additional Revit plugins. Below you’ll find several
    plugins that can assist us when working with Scan to BIM:
  </p>
  <ul class="blog__list">
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://www.navvis.com/revit"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >NAVVIS</a
      >
      – this plugin simplifies work in Revit. By adding a window where a 3D
      visualization of the place you’re currently working on is shown. Works
      similarly to TrueView.
    </li>
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://revitpure.com/blog/free-revit-add-in-of-the-week-isolate-warnings"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Isolate Warnings</a
      >
      – a great free plugin that helps to visualize all warnings in your model.
    </li>
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://diroots.com/revit-plugins/manage-revit-families-and-worksets-with-familyreviser/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Family Reviser</a
      >
      – a plugin that helps you change the names of your families and add
      necessary prefixes/suffixes.
    </li>
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://apps.autodesk.com/RVT/en/Detail/Index?id=5069841371205448504&appLang=en&os=Win64"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >Warchart</a
      >
      – a plugin that visualizes warning events and helps resolve them.
    </li>
    <li class="blog__item-arrow">
      <a
        class="blog__text-link blog__text-underline blog__text-cursive"
        href="https://www.elysium-global.com/en/product/infipoints/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >InfiPoints</a
      >
      – a plugin that helps to automatically create pipes, air ducts, and steel
      works. One of the greatest advantages of InfiPoints is the possibility of
      importing point cloud data from the three-dimensional environment as well
      as viewing and editing with high productivity, without limitation in terms
      of data size.
    </li>
  </ul>
  <p>That was everything we planned to tell you today, so let’s sum up.</p>
  <h2 class="blog__title" id="boostproduct-14">What's next?</h2>
  <p>
    Despite certain challenges, most operations we’ve discussed in this article
    are pretty simple to comprehend and perform. With that said, they can
    considerably improve the modeling quality and speed. So try sparing time to
    create a family library and standard, and rest assured, it will boost your
    productivity and performance.
  </p>
  <p>
    Do you have questions left or are you planning to boost productivity for the
    Scan to BIM project?
  </p>
  <p>
    Let’s talk,
    <a
      class="blog__text-link blog__text-underline blog__text-cursive"
      href="https://www.powerkh.com/scan-to-bim.html"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      Powerkh </a
    >&nbsp; is ready to assist!
  </p>
</section>
